{% extends 'AppBundle:base.html.twig' %}

{% block body %}
    {{ widget('sliders.home')|raw }}
    <section class="content">
        <div class="wrap">
            <div class="content__i">
                {% if promo is not empty %}
                <div class="promo">
                    <div class="promo__i">
                        <div class="row">
                            {% for banner in promo %}
                            <div class="item {{ banner.wide ? 'item_wide' : '' }}">
                                <a href="{{ banner.alias }}">
                                    <div class="item__i">
                                        <div class="img">
                                            {% set picture = '/img/banners/'~banner.picture %}
                                            <img src="{{ picture | imagine_filter('main_slider') }}" alt="{{ banner.title }}"/>
                                            <div class="bottom">
                                                <div class="bottom__i">
                                                    <p>{{ banner.title }}</p>
                                                    <div class="btn-row">
                                                        <a href="{{ banner.alias }}" class="btn btn_black_transparent">{{ banner.titleButton }}</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!--item end-->
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
