{% extends 'AppBundle:base.html.twig' %}
{% block out_class %}out_sub{% endblock %}
{% block meta %}
<title>Sirius || {{ page.title }}</title>
    <meta name="title" content="{{ page.title }}" />
    <meta name="robots" content="index, follow" />
    <meta name="description" content="{{ page.seoDescription }}" />
    <meta name="keywords" content="{{ page.seoKeywords }}" />
{% endblock %}
{% block body %}
    {#{{ dump(page) }}#}
    <section class="content">
        <div class="wrap">
            <div class="content__i">
                <div class="breadcrumbs">
                    <div class="breadcrumbs__i">
                        <ul>
                            <li><a href="{{ url('homepage') }}">На главную</a></li>
                            <li>{{ page.title }}</li>
                        </ul>
                    </div>
                </div>
                <h2 class="page-title">
                    {{ page.title }}
                </h2>
            </div>
        </div>
    </section>
    {{ page.content|raw }}
{% endblock %}
