{% extends 'AppBundle:product_return_base.html.twig' %}
{% block return %}
<section class="content">
<div class="wrap">
    <div class="content__i">
        <div class="warranty-info">
            <div class="warranty-info__i">
                <div class="profile-drop__i return-main">
                    <h2>Оформление возврата</h2>

                    <div class="row">
                        <div class="col-sm-4">
                            {{ form_start(form) }}
                                <span class="return-error-message">{{ form_errors(form.user_phone) }}</span>
                                <div class="inp {% if has_error(form, 'user_phone') %} inp_error {% endif %}">
                                    {{ form_widget(form.user_phone) }}
                                </div>
                                <span class="return-error-message">{{ form_errors(form.order_id) }}</span>
                                <div class="inp {% if has_error(form, 'order_id') %} inp_error {% endif %}">
                                    {{ form_widget(form.order_id) }}</div>
                                <div class="inp"><input type="submit" value="Возврат" /></div>
                            {{ form_end(form) }}
                            </form>
                        </div>
                        <div class="col-sm-8">
                            <div class="text">
                                <p>Вы получили товар с дефектом или не тот, что заказывали? Тогда мы заберем его назад и вернем Вам за него все деньги. Для этого необходимо ввести следующие данные в форме слева:</p>

                                <ul>
                                    <li>Ваш номер телефона в первом поле</li>
                                    <li>Ваш номер заказа во втором поле</li>
                                    <li>Нажать кнопку &laquo;Возврат&raquo;</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock %}
