{% extends 'AppBundle:base.html.twig' %}

{% block out_class %} out_order {% endblock %}

{% block body %}
    <section class="content">
        <div class="wrap">
            <div class="content__i">

                <h2 class="page-title">
                    Оформление заказа
                </h2>

                <div class="order-info">
                    <div class="col">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            {{ include('AppBundle:shop/cart/partials/registered_order.html.twig', { 'form': orderForm }) }}
                        {% else %}
                            <div class="accordion">
                                <div class="accordion__i">

                                    <div class="item opened">
                                        {{ include('AppBundle:shop/cart/partials/quick_order.html.twig', { 'form': quickOrderForm }) }}
                                    </div>
                                    <!--item end-->

                                    <div class="item">
                                        {{ include('AppBundle:shop/cart/partials/register_form.html.twig') }}
                                    </div>

                                    <div class="item">
                                        {{ include('AppBundle:shop/cart/partials/new_user.html.twig', { 'form': orderForm }) }}
                                    </div>

                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col">
                        <div class="order-total">
                            <div class="order-total__i">
                                <div class="top">
                                    <p>Итого</p>
                                </div>
                                {% if cart.standardCount %}
                                    <div class="mid">
                                        <h2>
                                            Основной заказ
                                            {% if not is_granted('ROLE_WHOLESALER') %}
                                                <span>{{ cart.standardCount }} Товара(ов)</span>
                                            {% endif %}
                                        </h2>
                                        {% if is_granted('ROLE_WHOLESALER') %}
                                            <h3><strong>{{ cart.standardPackagesCount }}</strong>
                                                {{ 'labels.cart_products_packages'|transchoice(cart.standardPackagesCount) }}
                                                + <strong>{{ cart.standardSingleItemsCount }}</strong>
                                                {{ 'labels.cart_products'|transchoice(cart.standardSingleItemsCount) }}
                                            </h3>
                                        {% endif %}
                                        <table>
                                            <tr>
                                                <td>Итого</td>
                                                <td>{{ cart.standardPrice }}</td>
                                            </tr>
                                        </table>
                                    </div>
                                {% endif %}
                                
                                {% if not cart.preOrderCount is empty %}
                                    <div class="mid">
                                        <h2>
                                            Предзаказ
                                            {% if not is_granted('ROLE_WHOLESALER') %}
                                                <span>{{ cart.preOrderCount }} Товара(ов)</span>
                                            {% endif %}
                                        </h2>
                                        {% if is_granted('ROLE_WHOLESALER') %}
                                            <h3><strong>{{ cart.preOrderPackagesCount }}</strong>
                                                {{ 'labels.cart_products_packages'|transchoice(cart.preOrderPackagesCount) }}
                                                + <strong>{{ cart.preOrderSingleItemsCount }}</strong>
                                                {{ 'labels.cart_products'|transchoice(cart.preOrderSingleItemsCount) }}
                                            </h3>
                                        {% endif %}
                                        <table>
                                            <tr>
                                                <td>Итого</td>
                                                <td>{{ cart.preOrderPrice }}</td>
                                            </tr>
                                        </table>
                                    </div>
                                {% endif %}

                                {% if is_granted('IS_AUTHENTICATED_FULLY') and not is_granted('ROLE_WHOLESALER') %}
                                    <div class="mid order-bonuses">
                                        <h2>
                                            Бонусный счет
                                            <span>{{ 'labels.user_bonuses_count'|transchoice(app.user.bonuses, {'%count%': app.user.bonuses}) }}</span>
                                        </h2>
                                        <table>
                                            <tr>
                                                <td>Использовать баллов</td>
                                                <td>
                                                    <input type="number" class="js_user_bonuses_count" value="0" min="0"
                                                           max="{{ prices.maxAllowedBonuses }}"/>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                {% endif %}

                                <div class="bottom">
                                    <h2>Всего</h2>
                                    <table>
                                        <tr>
                                            <td>Итого</td>
                                            <td>{{ cart.totalPrice }} грн.</td>
                                        </tr>
                                        <tr class="discount">
                                            <td>Скидка</td>
                                            <td><span class="js_total_discount">{{ cart.discount }}</span> грн.</td></td>
                                        </tr>
                                        <tr class="pay-row">
                                            <td>Сумма к оплате</td>
                                            <td>
                                                <span class="js_total_discounted_price">{{ cart.discountedTotalPrice }}</span>
                                                грн.
                                            </td>
                                        </tr>
                                    </table>

                                    <div class="row pb15">
                                        <a href="{{ path('cart_show') }}" class="edit">Редактировать заказ</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="push"></div>
{% endblock %}

{% block bottom_assets %}
    {{ parent() }}

    <script>
        var orderFormSubmitFlag = {{ orderFormSubmitFlag ? 'true' : 'false' }};
    </script>

    {% javascripts '@AppBundle/Resources/public/js/order_create.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block popups %}
    {{ parent() }}

    <div class="text-popup text-popup_2" id="terms">
        <div class="text-popup__i">
            <h2>Пользовательское соглашение</h2>

            <p>Настоящим я выражаю свое согласие и разрешаю осуществлять обработку своих персональных данных (имя,
                мобильный телефон, адрес электронной почты), включая сбор, систематизацию, накопление, хранение,
                уточнение, использование, уничтожение персональных данных), в целях связанных с возможностью
                предоставления информации о товарах и услугах, которые могут представлять интерес, а также с целью сбора
                и обработки статистической информации и проведения маркетинговых исследований. Я подтверждаю, что мне
                известна цель использования моих персональных данных и настоящим выражаю свое согласие на
                использование.</p>

            <div class="btn-row">
                <a href="#" class="btn btn_blue close-popup">OK</a>
            </div>
        </div>
    </div>
{% endblock %}
