<h2 class="page-title">
    Ваша корзина <span><span class="js_cart_total_count">{{ cart.totalCount }}</span> Товара(ов)</span>
</h2>

<div class="cart-info">
    <div class="cart-info__i">

        {% if cart.items is empty %}
            {{ include('AppBundle:shop/cart/partials/empty.html.twig') }}
        {% else %}

            <div class="col floating-box-wr">

                {% if cart.standardCount %}
                    <div class="main-cart-list js_main_cart_list">
                        <div class="title">
                            <h2>Основной заказ</h2>
                        </div>
                        <div class="main-cart-list__i">

                            {% for size in cart.sizes %}
                                {% if size.standardQuantity%}
                                    {{ include('AppBundle:shop:product/cart_item.html.twig', {size: size, preOrderMode: false}) }}
                                {% endif %}
                            {% endfor %}

                            <div class="main-cart-list-total">
                                <p><strong>Итого: <span class="js_cart_standard_total_price">{{ cart.standardDiscountedPrice }}</span> грн.</strong></p>
                            </div>

                        </div>
                    </div>
                {% endif %}

                {% if cart.preOrderCount %}
                    <div class="preorder-cart-list js_preorder_cart_list">
                        <div class="title">
                            <h2>Предзаказ</h2>
                        </div>
                        <div class="preorder-cart-list__i">

                            {% for size in cart.sizes%}
                                {% if size.preOrderQuantity %}
                                    {{ include('AppBundle:shop:product/cart_item.html.twig', {size: size, preOrderMode: true}) }}
                                {% endif %}
                            {% endfor %}

                            <div class="preorder-cart-list-total">
                                <p><strong>Итого: <span class="js_cart_pre_order_total_price">{{ cart.preOrderDiscountedPrice }}</span> грн.</strong></p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="col floating-box-main">
            <div class="order-total floating-box">
                <div class="order-total__i">
                    <div class="top">
                        <div class="row">
                            <a href="{{ path('cart_order') }}" type="submit" class="btn btn_blue">ОФОРМИТЬ ЗАКАЗ</a>
                        </div>
                        <div class="row">
                            <a href="{{ continueShopUrl }}" class="continue">Продолжить покупки</a>
                        </div>
                    </div>
                    <div class="bottom">
                        <h2>Заказ <span><span class="js_cart_total_count">{{ cart.totalCount }}</span> Товара(ов)</span></h2>
                        <table class="single-buy">
                            <tr>
                                <td>Итого</td>
                                <td><span class="js_cart_total_price">{{ cart.totalPrice }}</span> грн.</td>
                            </tr>
                            <tr class="discount">
                                <td>Скидка</td>
                                <td><span class="js_total_discount">{{ cart.discount }}</span> грн.</td>
                            </tr>
                            <tr class="pay-row">
                                <td>Сумма к оплате</td>
                                <td><span class="js_cart_total_discounted_price">{{ cart.discountedTotalPrice }}</span> грн.</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        {% endif %}

    </div>
</div>

{{ widget('products.recentlyReviewed')|raw }}