{% extends 'AppBundle:base.html.twig' %}

{% block out_class %} out_order {% endblock %}

{% block body %}
    <section class="content">
        <div class="wrap">
            <div class="content__i">
                {% if is_granted('ROLE_WHOLESALER') %}
                    {{ include('AppBundle:shop/cart/wholesale_products_list.html.twig') }}
                {% else %}
                    {{ include('AppBundle:shop/cart/products_list.html.twig') }}
                {% endif %}
            </div>
        </div>
    </section>
    <div class="push"></div>
{% endblock %}

{% block bottom_assets %}
    {{ parent() }}

    {% if is_granted('ROLE_WHOLESALER') %}
        {% javascripts '@AppBundle/Resources/public/js/wholesale.js'
            '@AppBundle/Resources/public/js/wholesale_order.js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% else %}
        {% javascripts
            '@AppBundle/Resources/public/js/jquery.mCustomScrollbar.js'
            '@AppBundle/Resources/public/js/order.js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}
{% endblock %}


{% block popups %}
    {{ parent() }}

    {% if is_granted('ROLE_WHOLESALER') %}
        {{ include('AppBundle:shop/product/items_popup_galleries.html.twig', { 'items': cart.models }) }}
    {% endif %}
{% endblock %}
