<h2 class="page-title">
    Ваша корзина
    <span><i><b class="js_cart_packages_count">{{ cart.packagesCount }}</b> {{ 'labels.cart_products_packages'|transchoice(cart.packagesCount) }}
            +
            <b class="js_cart_single_items_count">{{ cart.singleItemsCount }}</b> {{ 'labels.cart_products'|transchoice(cart.singleItemsCount) }}
        </i></span>
</h2>

<div class="cart-info cart-info_opt">
    <div class="cart-info__i">

        {% if cart.items is empty %}
            {{ include('AppBundle:shop/cart/partials/empty.html.twig') }}
        {% else %}

            <div class="col floating-box-wr">

                {% if not cart.standardItems is empty %}

                    <div class="main-cart-list">
                        <div class="title">
                            <h2>Основной заказ</h2>
                        </div>
                        <div class="main-cart-list__i">

                            <div class="opt-main-control">
                                <table>
                                    <tr>
                                        <td>Артикул</td>
                                        <td>Фото</td>
                                        <td>Модель</td>
                                        <td>Цвет</td>
                                        <td>Материал/
                                            состав
                                        </td>
                                        <td>Размер/
                                            шт в уп.
                                        </td>
                                        <td>
                                            Количество

                                        </td>
                                        <td>Цена</td>
                                        <td>
                                            Удалить
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <div class="opt-list">
                                <div class="opt-list__i">
                                    {% for item in cart.standardItems %}
                                        {{ include('AppBundle:shop/cart/partials/wholesale_product.html.twig') }}
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="main-cart-list-total">
                                <p><strong>Итого: <span><span
                                                    class="js_cart_standard_total_price">{{ cart.standardItemsPrice }}</span> грн.</span></strong>
                                </p>
                            </div>

                        </div>
                    </div>

                {% endif %}

                {% if not cart.preOrderItems is empty %}

                    <div class="preorder-cart-list">
                        <div class="title">
                            <h2>Предзаказ</h2>
                        </div>
                        <div class="preorder-cart-list__i">

                            <div class="opt-main-control">
                                <table>
                                    <tr>
                                        <td>Артикул</td>
                                        <td>Фото</td>
                                        <td>Модель</td>
                                        <td>Цвет</td>
                                        <td>Материал/
                                            состав
                                        </td>
                                        <td>Размер/
                                            шт в уп.
                                        </td>
                                        <td>
                                            Количество

                                        </td>
                                        <td>Цена</td>
                                        <td>
                                            Удалить
                                        </td>
                                    </tr>
                                </table>
                            </div>


                            <div class="opt-list">
                                <div class="opt-list__i">
                                    {% for item in cart.preOrderItems %}
                                        {{ include('AppBundle:shop/cart/partials/wholesale_product.html.twig') }}
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="preorder-cart-list-total">
                                <p>
                                    <strong>Итого: <span><span class="js_cart_pre_order_total_price">{{ cart.standardItemsPrice }}</span> грн.</span></strong>
                                </p>
                            </div>
                        </div>
                    </div>

                {% endif %}

            </div>

            <div class="col floating-box-main">
            <div class="order-total floating-box">
                <div class="order-total__i">
                    <div class="top">
                        <div class="row">
                            <a href="{{ path('cart_order') }}" type="submit" class="btn btn_blue">ОФОРМИТЬ ЗАКАЗ</a>
                        </div>
                        <div class="row">
                            <a href="{{ continueShopUrl }}" class="continue">Продолжить покупки</a>
                        </div>
                    </div>
                    <div class="bottom">
                        <h3><strong class="js_cart_packages_count">{{ cart.packagesCount }}</strong>
                            {{ 'labels.cart_products_packages'|transchoice(cart.packagesCount) }}
                            + <strong class="js_cart_single_items_count">{{ cart.singleItemsCount }}</strong>
                            {{ 'labels.cart_products'|transchoice(cart.singleItemsCount) }}
                        </h3>

                        <table>
                            <tr>
                                <td>Итого</td>
                                <td><span class="js_cart_total_original_price">{{ cart.totalOldPrice }}</span> грн.</td>
                            </tr>
                            <tr class="discount">
                                <td>Скидка</td>
                                <td>0%</td>
                            </tr>
                            <tr class="pay-row">
                                <td>Сумма к оплате</td>
                                <td><span class="js_cart_total_price">{{ cart.totalPrice }}</span> грн.</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        {% endif %}
    </div>
</div>
