{% extends 'AppBundle:base.html.twig' %}

{% block out_class %} out_sub {% endblock %}

{% block meta %}
    <title>{{ data.category.name }}</title>
    <meta name="description" content="{{ data.category.seoDescription }}" />
    <meta name="keywords" content="{{ data.category.seoKeywords }}" />
    <meta property="og:title" content="{{ data.category.seoTitle }}"/>
    <meta property="og:description" content="{{ data.category.seoDescription }}"/>
    <meta property="og:type" content="category" />
    <meta property="og:url" content="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}"/>
    <meta property="og:site_name" content="Интернет магазин Sirius-sport.com" />
{% endblock %}

{% block body %}
    <section class="content">
        <div class="darkness"></div>
        <div class="wrap">
            <div class="content__i">
                {{ widget('breadcrumbs.render')|raw }}
                {% if data.share %}
                    <div class="catalog-action">
                        {{ include('AppBundle:share/partials/_item.html.twig', { share: data.share, hideMore: true }) }}
                    </div>
                {% endif %}
                {% if data.share %}
                    <h2 class="catalog-title">
                        Товары участвующие в акции
                        <span>({{ 'labels.products_count'|transchoice(data.products.getTotalItemCount, {'%count%': data.products.getTotalItemCount}) }})</span>
                        <a href="#share-detail-text">Подробнее об акции</a>
                    </h2>
                {% else %}
                    <h2 class="catalog-title">
                        {{ data.category.name }}
                        <span>({{ 'labels.products_count'|transchoice(data.products.getTotalItemCount, {'%count%': data.products.getTotalItemCount}) }})</span>
                    </h2>
                {% endif %}
                <div class="catalog">
                    <div class="catalog__i">

                        {{ include('AppBundle:shop:partials/filter.html.twig') }}

                        <div class="main">
                            {% if is_granted('ROLE_WHOLESALER') %}
                                {{ include('AppBundle:shop/products_list_wholesale.html.twig', { 'items': data }) }}
                            {% else %}
                                {{ include('AppBundle:shop/products_list.html.twig', { 'items': data }) }}
                            {% endif %}
                            <div class="promo-text">
                                <div class="promo-text__i">
                                    {{ data.category.content|raw }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if data.share %}
                    <div id="share-detail-text" class="share-text">
                        <div class="share-text__i">
                            <h2>Подробнее об акции</h2>
                            {{ data.share.terms|raw }}
                        </div>
                    </div>
                {% endif %}
                {{ widget('products.recentlyReviewed')|raw }}
            </div>
        </div>
        </section>
{% endblock %}

{% block bottom_assets %}
    {{ parent() }}
    <script>
        var currentCategoryAlias = "{{ data.category.alias }}";
        var userIsAuthenticated = {{ is_granted('IS_AUTHENTICATED_FULLY') ? 'true' : 'false' }};
        {% if app.request.get('_route') == 'filter' %}
            var current_route = 'filter';
        {% endif %}
    </script>

    {% javascripts '@AppBundle/Resources/public/js/filters.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% if is_granted('ROLE_WHOLESALER') %}
        {% javascripts
            '@AppBundle/Resources/public/js/wholesale.js'
            '@AppBundle/Resources/public/js/catalog_wholesale.js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% else %}
        {% javascripts '@AppBundle/Resources/public/js/catalog.js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}
{% endblock %}

{% block popups %}
    {{ parent() }}

    {% if is_granted('ROLE_WHOLESALER') %}
        {{ include('AppBundle:shop/product/items_popup_galleries.html.twig', { 'items': data.products }) }}
    {% endif %}
    {{ include('AppBundle:shop/product/preorder_warning_popup.html.twig') }}
{% endblock %}
