<div class="item item_center">
    <a href="#">
        <div class="item__i" style="background-image: url('/img/shares/{{ share.image }}')">

            <div class="flag flag_discount">
                <div class="flag__i">
                    <p>
                        {% if share.sizesGroups.count() == 1 %}
                            {{ share.sizesGroups.first.discount }}%
                        {% else %}
                            Акция
                        {% endif %}
                    </p>
                </div>
            </div>

            <div class="title">
                <div class="title__i">{{ share.description|raw }}</div>
            </div>

            {{ include('AppBundle:share/counter.html.twig', {share: share}) }}

            <div class="btn-wrap">
                {#{% if share.terms %}#}
                    {#<a href="#detail-popup-{{ share.id }}" class="detail popup_js">Подробнее</a>#}
                {#{% endif %}#}
                {% if hideMore is not defined %}
                    <a href="{{ url_to(share) }}" class="btn btn_black_transparent">узнать больше</a>
                {% endif %}
            </div>
        </div>
    </a>
</div><!--item end-->

<div class="hidden">
    <div id="detail-popup-{{ share.id }}" class="text-popup">
        <div class="text-popup__i">{{ share.terms|raw }}</div>
    </div>
</div>