<footer class="footer">
    <div class="footer__top">
        <div class="wrap">
            <table>
                <tr>
                    <td>
                        <div class="contacts">
                            <div class="contacts__i">
                                <ul>
                                    {% if options.params.phone1.value is defined and options.params.phone1.active == true %}
                                        <li><i class="icon icon-mobile"></i>{{ options.params.phone1.value }}</li>
                                    {% endif %}
                                    {% if options.params.phone2.value is defined and options.params.phone2.active == true %}
                                        <li>{{ options.params.phone2.value }}</li>
                                    {% endif %}
                                    {% if options.params.phone3.value is defined and options.params.phone3.active == true %}
                                        <li>{{ options.params.phone3.value }}</li>
                                    {% endif %}
                                    {% if options.params.phone4.value is defined and options.params.phone4.active == true %}
                                        <li>{{ options.params.phone4.value }}</li>
                                    {% endif %}
                                    {% if options.params.phone5.value is defined and options.params.phone5.active == true %}
                                        <li>{{ options.params.phone5.value }}</li>
                                    {% endif %}
                                    {% if options.params.phone6.value is defined and options.params.phone6.active == true %}
                                        <li>{{ options.params.phone6.value }}</li>
                                    {% endif %}
                                    {% if options.params.phone7.value is defined and options.params.phone7.active == true %}
                                        <li>{{ options.params.phone7.value }}</li>
                                    {% endif %}
                                    {% if options.params.phone8.value is defined and options.params.phone8.active == true %}
                                        <li>{{ options.params.phone8.value }}</li>
                                    {% endif %}
                                    {% if options.params.phone9.value is defined and options.params.phone9.active == true %}
                                        <li>{{ options.params.phone9.value }}</li>
                                    {% endif %}
                                    {% if options.params.phone10.value is defined and options.params.phone10.active == true %}
                                        <li>{{ options.params.phone10.value }}</li>
                                    {% endif %}
                                    {% if options.params.phone11.value is defined and options.params.phone11.active == true %}
                                        <li>{{ options.params.phone11.value }}</li>
                                    {% endif %}
                                    {% if options.params.phone12.value is defined and options.params.phone12.active == true %}
                                        <li>{{ options.params.phone12.value }}</li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="contacts">
                            <div class="contacts__i">
                                <ul>
                                    {% if options.params.email1.value is defined and options.params.email1.active == true %}
                                    <li class="email">
                                        <i class="icon icon-email"></i>
                                        <a href="mailto:{{ options.params.email1.value }}">{{ options.params.email1.value }}</a>
                                    </li>
                                    {% endif %}
                                    {% if options.params.email2.value is defined and options.params.email2.active == true %}
                                    <li>
                                        <a href="mailto:{{ options.params.email2.value }}">{{ options.params.email2.value }}</a>
                                    </li>
                                    {% endif %}
                                    {% if options.params.email3.value is defined and options.params.email3.active == true %}
                                        <li>
                                            <a href="mailto:{{ options.params.email3.value }}">{{ options.params.email3.value }}</a>
                                        </li>
                                    {% endif %}
                                    {% if options.params.email4.value is defined and options.params.email4.active == true %}
                                        <li>
                                            <a href="mailto:{{ options.params.email4.value }}">{{ options.params.email4.value }}</a>
                                        </li>
                                    {% endif %}
                                    {% if options.params.email5.value is defined and options.params.email5.active == true %}
                                        <li>
                                            <a href="mailto:{{ options.params.email5.value }}">{{ options.params.email5.value }}</a>
                                        </li>
                                    {% endif %}
                                    {% if options.params.email6.value is defined and options.params.email6.active == true %}
                                        <li>
                                            <a href="mailto:{{ options.params.email6.value }}">{{ options.params.email6.value }}</a>
                                        </li>
                                    {% endif %}
                                    {% if options.params.email7.value is defined and options.params.email7.active == true %}
                                        <li>
                                            <a href="mailto:{{ options.params.email7.value }}">{{ options.params.email7.value }}</a>
                                        </li>
                                    {% endif %}
                                    {% if options.params.email8.value is defined and options.params.email8.active == true %}
                                        <li>
                                            <a href="mailto:{{ options.params.email8.value }}">{{ options.params.email8.value }}</a>
                                        </li>
                                    {% endif %}
                                    {% if options.params.email9.value is defined and options.params.email9.active == true %}
                                        <li>
                                            <a href="mailto:{{ options.params.email9.value }}">{{ options.params.email9.value }}</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="share">
                            <div class="share__i">
                                <ul>
                                    {% if options.params.fb_link.value is defined and options.params.fb_link.active == true %}
                                        <li><a href="{{ options.params.fb_link.value }}"><i class="icon icon-fb"></i></a></li>
                                    {% endif %}
                                    {% if options.params.vk_link.value is defined and options.params.vk_link.active == true %}
                                        <li><a href="{{ options.params.vk_link.value }}"><i class="icon icon-vk"></i></a></li>
                                    {% endif %}
                                    {% if options.params.gp_link.value is defined and options.params.gp_link.active == true %}
                                        <li><a href="{{ options.params.gp_link.value }}"><i class="icon icon-gplus"></i></a></li>
                                    {% endif %}
                                    {% if options.params.yt_link.value is defined and options.params.yt_link.active == true %}
                                        <li><a href="{{ options.params.yt_link.value }}"><i class="icon icon-yt"></i></a></li>
                                    {% endif %}
                                    {% if options.params.insta_link.value is defined and options.params.insta_link.active == true %}
                                        <li><a href="{{ options.params.insta_link.value }}"><i class="icon icon-insta"></i></a></li>
                                    {% endif %}
                                    {% if options.params.tw_link.value is defined and options.params.tw_link.active == true %}
                                        <li><a href="{{ options.params.tw_link.value }}"><i class="icon icon-tw"></i></a></li>
                                    {% endif %}
                                    {% if options.params.ok_link.value is defined and options.params.ok_link.active == true %}
                                        <li><a href="{{ options.params.ok_link.value }}"><i class="icon icon-ok"></i></a></li>
                                    {% endif %}
                                    {% if options.params.pin_link.value is defined and options.params.pin_link.active == true %}
                                        <li><a href="{{ options.params.pin_link.value }}"><i class="icon icon-pin"></i></a></li>
                                    {% endif %}
                                    {% if options.params.linkedin_link.value is defined and options.params.linkedin_link.active == true %}
                                        <li><a href="{{ options.params.linkedin_link.value }}"><i class="icon icon-linkedin"></i></a></li>
                                    {% endif %}
                                    {% if options.params.telegram_link.value is defined and options.params.telegram_link.active == true %}
                                        <li><a href="{{ options.params.telegram_link.value }}"><i class="icon icon-telegram"></i></a></li>
                                    {% endif %}
                                    {% if options.params.tmblr_link.value is defined and options.params.tmblr_link.active == true %}
                                        <li><a href="{{ options.params.tmblr_link.value }}"><i class="icon icon-tmblr"></i></a></li>
                                    {% endif %}
                                    {% if options.params.tripadv_link.value is defined and options.params.tripadv_link.active == true %}
                                        <li><a href="{{ options.params.tripadv_link.value }}"><i class="icon icon-tripadv"></i></a></li>
                                    {% endif %}
                                    {% if options.params.behance_link.value is defined and options.params.behance_link.active == true %}
                                        <li><a href="{{ options.params.behance_link.value }}"><i class="icon icon-behance"></i></a></li>
                                    {% endif %}
                                    {% if options.params.dribble_link.value is defined and options.params.dribble_link.active == true %}
                                        <li><a href="{{ options.params.dribble_link.value }}"><i class="icon icon-dribble"></i></a></li>
                                    {% endif %}
                                    {% if options.params.vimeo_link.value is defined and options.params.vimeo_link.active == true %}
                                        <li><a href="{{ options.params.vimeo_link.value }}"><i class="icon icon-vimeo"></i></a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="footer__bottom">
        <div class="wrap">
            <div class="main">
                <nav class="f-nav">
                    <div class="f-nav__i clearfix">
                        <div class="col">
                            <h2>Каталог товаров</h2>
                            {{ knp_menu_render('AppBundle:Builder:footercategoriesMenu') }}
                        </div>
                        <div class="col">
                            <h2>Компания</h2>
                            {{ knp_menu_render('AppBundle:Builder:sideleftMenu') }}
                        </div>
                        <div class="col">
                            <h2>Выгодные предложения</h2>
                            {{ knp_menu_render('AppBundle:Builder:footerleftMenu') }}
                        </div>
                        <div class="col">
                            <h2>Информация покупателям</h2>
                            {{ knp_menu_render('AppBundle:Builder:footerrightMenu') }}
                        </div>
                    </div>
                </nav>
                <div class="back-call">
                    <div class="back-call__i">
                        <h2>Обратный звонок</h2>
                        <form method="post">
                            <div class="inp">
                                <input type="text" class="phone-inp" name="phone" placeholder="Введите Ваш номер"/>
                            </div>
                            <div class="inp">
                                <div class="btn-wrap">
                                    <input type="submit" class="btn btn_black_transparent"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <p class="copy">{{ options.params.copyright.value|raw }}</p>
        </div>
    </div>
</footer>

<div class="popups" style="display: none">
    <div class="text-popup" id="email-change">
        <div class="text-popup__i">
            {#<p class="email">Новый пароль был выслан на электронную почту</p>#}
            {#<p class="email"><a href="mailto:sfdgsfhsfhs@cgsdg.com">sfdgsfhsfhs@cgsdg.com</a></p>#}
            <div class="btn-row">
                <a href="#" class="btn btn_blue close-popup">OK</a>
            </div>
        </div>
    </div>
    <div class="text-popup" id="tnx">
        <div class="text-popup__i">
            <p>Спасибо</p>
            <p>В ближайшее время с Вами свяжется менеждер</p>
            <div class="btn-row">
                <a href="#" class="btn btn_blue close-popup">OK</a>
            </div>
        </div>
    </div>
</div>