<div class="search-drop-results__i">
    {% if result is defined and result|length != 0 %}
    <h2>Товары</h2>
    <div class="list">
        {% for item in result|slice(0, 4) %}
        <div class="item">
            <a href="{{ url('product', {'category': item.baseCategory.alias,'product': item.productModels.0.alias}) }}">
                <div class="item__i">
                    <div class="img">
                        {% if item.productModels.0.images.0 is defined and item.productModels.0.images.0.link is not null %}
                            <img src="{{ item.productModels.0.images.0.link | imagine_filter('small') }}" alt="{{ item.name }}"/>
                        {% else %}
                            <img src="{{ param('no_image') | imagine_filter('small') }}" alt="{{ item.name }}"/>
                        {% endif %}
                    </div>
                    <div class="text">
                        <div class="text__i">
                            <h3>{{ item.name }}</h3>
                                <p>{{ item.baseCategory.name }}</p>
                            <p><strong>{{ prices.getDiscountedPrice(item.productModels.0) }} грн.</strong></p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    <p class="more-results"><a href="{{ url('search', {'search': slug|url_encode}) }}">Смотреть все результаты({{ result|length }})</a></p>
    {% else %}
    <h5>По вашему запросу ничего не найдено.</h5>
    <h5>Уточните свой запрос</h5>
    {% endif %}
</div>