<a href="#" class="profile-btn">
    <i class="icon icon-profile"></i>
    <i class="icon icon-profile-hover hover"></i>
</a>

{% if app.user %}
    <div class="user-login-drop profile-drop">
        <div class="user-login-drop__i">
            <h2 class="hello">Здравствуйте, {{ app.user.name }}</h2>
            <ul>
                <li><a href="{{ path('user_profile') }}">Личный кабинет</a></li>
                <li><a href="{{ path('fos_user_security_logout') }}">Выйти</a></li>
            </ul>
        </div>
    </div>
{% else %}
    <div class="profile-drop profile-drop">
        <div class="profile-drop__i">

            <div class="login">
                <h2>Войти в личный кабинет</h2>

                <div class="inner">
                    <div class="col">
                        <div class="col__i">
                            <form action="{{ path("fos_user_security_check") }}" method="post" class="login-form">
                                <div class="inp">
                                    <input type="email" placeholder="E-mail адрес" name="_username" required="required"/>
                                </div>
                                <div class="inp">
                                    <input type="text" placeholder="Пароль" name="_password" required="required" />

                                </div>

                                <div class="inp inp_checkbox">
                                    <label><input type="checkbox"/><span></span>Запомнить</label>
                                </div>

                                <div class="inp">
                                    <input type="submit" class="btn btn_blue" value="Войти"/>
                                </div>
                                <div class="remember">
                                    <div class="remember__i">
                                        <table>
                                            <tr>
                                                <td><a href="#" class="pass-recovery-btn">Забыли пароль?</a></td>
                                                <td><a href="{{ path('fos_user_registration_register') }}">Регистрация</a></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <input type="hidden" name="_csrf_token" value="{{ fos_csrf_provider.generateCsrfToken('authenticate') }}" />
                            </form>

                            <div class="or">или</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="col__i">
                            <h3>ВОЙТИ ЧЕРЕЗ:</h3>

                            <div class="enter-list">
                                <ul>
                                    <li><a href="#"><i class="icon icon-fb2"></i><i class="icon icon-fb2-hover hover"></i></a></li>
                                    <li><a href="{{ url("hwi_oauth_service_redirect", {service: "vkontakte"}) }}"><i class="icon icon-vk2"></i><i class="icon icon-vk2-hover hover"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pass-recovery">
                <h2>Смена пароля</h2>

                <div class="inner">
                    <div class="col">
                        <div class="col__i">
                            <form method="post" class="change-passw-form">
                                <div class="inp">
                                    <input type="text" placeholder="E-mail адрес" name="email"/>
                                </div>
                                <div class="inp">
                                    <input type="submit" class="btn btn_blue" value="ПОДТВЕРДИТЬ"/>

                                </div>
                                <a href="#" class="close">Закрыть</a>
                            </form>
                        </div>
                    </div>
                    <div class="col">
                        <div class="col__i">
                            <div class="info">
                                <p>
                                    Укажите Ваш адрес электронной
                                    почты, и мы вышлем Ваш пароль в
                                    течение нескольких минут.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}