{{ form_start(form, {'attr': {'novalidate': true, 'class': 'item-buy-form js_model_form ', 'data-model-id': model.id}}) }}
    <div class="sizes">
        <div class="sizes__i js_sizes">

            {{ form_widget(form.size, {'attr': {'data-placeholder': 'Выберите размер', 'class': 'js_cart_size'}}) }}

            {{ form_widget(form.quantity) }}

        </div>
    </div>

    <div class="btn-row buy-row">
        <div class="btn-row__i">
            <a href="#" class="btn btn_blue btn_buy preorder_btn js_preorder_btn">
                <span>{{ 'Pre-order'|trans }}</span>
            </a>
            <a href="#" class="btn btn_blue btn_buy js_buy_btn">
                <span>{{ 'Buy'|trans }}</span>
            </a>
            {{ form_widget(form.submit, {'attr': {'class': 'fake-over-btn js_add_in_cart btn_buy'}, 'label': ''}) }}
        </div>
    </div>
{{ form_end(form) }}
