<div class="last-viewed__i complect">

    {{ include('AppBundle:shop/product/upsell_item.html.twig', {size: currentSize, flagClass: 'flag_your',
        flagContent: 'Ваш товар' ~ (currentDiscount ? ' ' ~ currentDiscount ~ '%'), price: sizePrice}) }}

    {{ include('AppBundle:shop/product/upsell_item.html.twig', {size: companion, flagClass: 'flag_percent',
        flagContent: companionDiscount ? companionDiscount ~ '%' : false, price: companionPrice}) }}

    <div class="item item-complect buy-row">
        <p>{{ totalSum }} грн.</p>
        {{ form_start(form, {attr: {class: 'js_upsell_form'}}) }}
            <a href="#" class="btn btn_blue btn_buy js_click_submit"><span>КУПИТЬ комплект</span></a>
        {{ form_end(form) }}
    </div>
</div>
