{% if recentModels is not empty %}
    <div class="last-viewed">
        <h2>Вы уже просматривали</h2>
        <div class="last-viewed__i">
            {% for item in recentModels %}
            <div class="item">
                <a href="{{ url('product', {'category': item.products.baseCategory.alias,'product': item.alias}) }}">
                    <div class="item__i">
                        <div class="img">
                            {% if item.images.0 is defined and item.images.0.link is not null %}
                                <img src="{{ item.images.0.link | imagine_filter('medium') }}" alt="{{ item.products.name }}"/>
                            {% else %}
                                <img src="{{ param('no_image') | imagine_filter('medium') }}" alt="{{ item.products.name }}"/>
                            {% endif %}
                        </div>
                        <div class="info">
                            <div class="info__i">
                                <p><strong>{{ item.products.name }}</strong></p>
                                <p> {{ prices.getDiscountedPrice(item)|format_price }} грн.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
{% endif %}