{% extends 'AppAdminBundle::sonata_base_layout.html.twig' %}

{% block content %}
    <h1>Импорт</h1>
    {{ form_start(form, {'attr': {'class': 'search__i'}}) }}
        {{ form_errors(form) }}
        <table class="table table-hover">
            <tbody>
            <tr>
                <td>
                    {{ form_widget(form.type) }}
                </td>
                <td class="sonata-ba-list-label">
                    {{ form_widget(form.file) }}
                </td>
                <td>
                    <div class="btn-group">
                        {{ form_widget(form.submit, { 'label': 'Выполнить' }) }}
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    {{ form_end(form) }}

    {% if validation is defined and validation.errors|length  > 0 %}
        <div class="import-errors">
            {% for key, errors in validation.errors %}
                {% for error in errors %}
                    <div class="import-error">{{ error.propertyPath }} {{ error.message }} ({{ key+1 }} строка)</div>
                {% endfor %}
            {% endfor %}
        </div>

        <table class="table table-bordered table-striped">
            <thead>
            <tr class="sonata-ba-list-field-header">
                <th class="sonata-ba-list-field-header sonata-ba-list-field-header-batch">№</th>
                {% for head in validation.data.getFields() %}
                    <th class="sonata-ba-list-field-header sonata-ba-list-field-header-batch">
                        {{ head }}
                    </th>
                {% endfor %}
            </tr>
            </thead>

            <tbody>
            {% for key, items in validation.data %}
                {% if key in validation.errors|keys %}
                    {% set bg = ' style="background-color: #ff9900;"' %}
                {% else %}
                    {% set bg = '' %}
                {% endif %}
                <tr>
                    <td class="sonata-ba-list-field"{{ bg|raw }}>{{ key + 1 }}</td>
                    {% for item in items %}
                        <td class="sonata-ba-list-field"{{ bg|raw }}>{{ item }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}
