<div class="row" id="orderSizes">
    <div class="col-md-12">
        <div class="box box-success">
            <div class="box-header">
                <h4 class="box-title">{{ form_tab.name }}</h4>
            </div>
            <div class="box-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Артикул</th>
                            <th>Картинка</th>
                            <th>Модель</th>
                            <th>Цвет</th>
                            <th>Размер</th>
                            <th>Количество</th>
                            <th>Доступно</th>
                            <th>
                                {% if admin.subject.preOrderFlag %}
                                    В заказ
                                {% else %}
                                    В предзаказ
                                {% endif %}
                            </th>
                            <th>Цена(за ед)</th>
                            <th>Цена(всего)</th>
                            <th>Цена со скидкой</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="sonata-ba-tbody">
                        {% if admin.subject.users and admin.subject.users.hasRole('ROLE_WHOLESALER') %}
                            {% include 'AppAdminBundle:admin/orders/wholesaler_order_sizes_list.html.twig'%}
                        {% else %}
                            {% include 'AppAdminBundle:admin/orders/order_sizes_list.html.twig'%}
                        {% endif %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="9" class="text-right">Всего</td>
                            <th colspan="2" id="totalPrice">{{ admin.subject.totalPrice }}</th>
                        </tr>
                        <tr>
                            <td colspan="9" class="text-right">Цена со скидкой</td>
                            <th colspan="2" id="discountedTotalPrice">{{ admin.subject.loyaltyAndUpSellDiscounted }}</th>
                        </tr>
                        <tr>
                            <td colspan="9" class="text-right">Оплачено бонусами</td>
                            <th colspan="2" id="bonuses">{{ admin.subject.bonuses }}</th>
                        </tr>
                        <tr>
                            <td colspan="9" class="text-right">Погасить</td>
                            <th colspan="2">
                                <input type="text" value="{{ admin.subject.individualDiscount }}"
                                       name="individualDiscount" class="table-input js_order_update"/>
                            </th>
                        </tr>
                        <tr>
                            <td colspan="9" class="text-right">
                                <input type="text" value="{{ admin.subject.additionalSolarDescription }}"
                                       name="additionalSolarDescription" class="table-input text-right js_order_update"/>
                            </td>
                            <th colspan="2">
                                <input type="text" value="{{ admin.subject.additionalSolar }}" name="additionalSolar"
                                       class="table-input js_order_update"/>
                            </th>
                        </tr>
                        <tr>
                            <td colspan="9" class="text-right">К оплате</td>
                            <th colspan="2" id="individualDiscountedTotalPrice">{{ admin.subject.individualDiscountedTotalPrice }}</th>
                        </tr>
                    </tfoot>
                </table>
                {% if admin.subject.status.id == 1 or admin.subject.preOrderFlag %}
                <div class="row">
                    <div class="col-sm-12">
                        <a class="btn btn-success btn-sm btn-outline btn-layout-1 sonata-ba-action js_order_add_size pull-right"><i class="fa fa-plus-circle"></i> Добавить размер</a>
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col-sm-12">
                        <a class="btn btn-success btn-sm btn-outline btn-layout-2 sonata-ba-action pull-right" href="{{ path(admin.baseRouteName ~ '_get_invoice', {id: admin.subject.id}) }}"><i class="fa fa-plus-circle"></i>{{ 'btn_invoice'|trans({}, 'SonataAdminBundle') }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
