<div class="row js-waybill-fields">
    <div class="col-md-12">
        <div class="box box-success">
            <div class="box-header">
                <h4 class="box-title">{{ form_tab.name }}</h4>
            </div>
            <div class="box-body">
                <table id="create_waybill" class="table table-bordered">
                    <tbody class="sonata-ba-tbody">
                    {% if form_tab.ttn == '' %}
                        <tr>
                            <td>Количество мест:</td>
                            <td class="form-inline">
                                <div class="form-group">
                                    <input type="text" name="np_seats_amount" id="np_seats_amount"
                                           class="form-control"/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Фактический вес(кг):</td>
                            <td class="form-inline">
                                <div class="form-group">
                                    <input type="text" name="np_weight" id="np_weight" class="form-control"/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Д/Ш/В, см:</td>
                            <td class="form-inline">
                                <div class="form-group">
                                    <input type="text" name="np_volumetric_width" id="np_volumetric_width"
                                           class="form-control"/>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="np_volumetric_height" id="np_volumetric_height"
                                           class="form-control"/>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="np_volumetric_length" id="np_volumetric_length"
                                           class="form-control"/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Обратная доставка:</td>
                            <td class="form-inline">
                                <div class="form-group">
                                    <input type="text" name="np_backward_delivery_cost" id="np_backward_delivery_cost"
                                           class="form-control"/> грн
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Дата отправления:</td>
                            <td class="form-inline">
                                <div class="form-group">
                                    <input type="text" name="np_date" id="np_date" class="form-control"/>
                                    <span class="notice">пример - 09.05.1945</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Платильщик доставки:</td>
                            <td>
                                <input type="radio" name="np_delivery_payer" value="Recipient"> получатеть<br>
                                <input type="radio" name="np_delivery_payer" value="Sender"> отправитель
                            </td>
                        </tr>
                        <tr>
                            <td>Платильщик обратной доставки:</td>
                            <td>
                                <input type="radio" name="np_backward_delivery_payer" value="Recipient"> получатеть<br>
                                <input type="radio" name="np_backward_delivery_payer" value="Sender"> отправитель
                            </td>
                        </tr>
                        <tr>
                            <td>Вид рассчета:</td>
                            <td>
                                <input type="radio" name="np_payment_method" value="Cash"> наличный<br>
                                <input type="radio" name="np_payment_method" value="NonCash"> безналичный
                            </td>
                        </tr>
                        <tr>
                            <td>Оглашенна ценность:</td>
                            <td class="form-inline">
                                <div class="form-group">
                                    <input type="text" name="np_cost" id="np_cost" class="form-control"/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Фио получателя:</td>
                            <td class="form-inline">
                                <div class="form-group">
                                    <input type="text" name="np_surname" id="np_surname" class="form-control"
                                           value="{{ object.users ? object.users.surname : ''}}"/>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="np_name" id="np_name" class="form-control"
                                           value="{{ object.users ? object.users.name : ''}}"/>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="np_middlename" id="np_middlename" class="form-control"
                                           value="{{ object.users ? object.users.middlename : ''}}"/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Телефон получателя:</td>
                            <td class="form-inline">
                                <div class="form-group">
                                    <input type="text" name="np_phone" id="np_phone" class="form-control"
                                           value="{{ object.users ? object.users.phone : ''}}"/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><input type="button" id="submit_ttn" name="submit" class="btn btn-success"
                                                   value="Создать"/></td>
                        </tr>
                    {% else %}
                        <tr>
                            <td width="15%">Номер ТТН</td>
                            <td width="85%">
                                {{ form_tab.ttn.Number }}
                            </td>
                        </tr>
                        <tr>
                            <td>Дата отправления:</td>
                            <td>
                                {{ form_tab.ttn.DateTime|date("d.m.Y") }}
                            </td>
                        </tr>
                        <tr>
                            <td>Приблизительная дата доставки:</td>
                            <td>
                                {{ form_tab.date ? form_tab.date.date|date("d.m.Y") : '' }}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="button" id="print_ttn" name="submit" class="btn btn-info" value="Печать"/>
                                <input type="button" id="delete_ttn" name="submit" class="btn btn-danger"
                                       value="Удалить ТТН"/>
                            </td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="box box-success">
            <div class="box-header">
                <h4 class="box-title">Установить ТТН</h4>
            </div>
            <div class="box-body">
                <table id="update_waybill" class="table table-bordered">
                    <tbody class="sonata-ba-tbody">
                    <tr>
                        <td>ТТН:</td>
                        <td><input type="text" name="np_ttn" id="np_ttn"/></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="button" id="change_ttn" name="submit" class="btn btn-success" value="Изменить ТТН" />
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).on('click', '#submit_ttn', function(e) {
        e.stopPropagation();
        var form = $('#create_waybill :input').serialize();
        $.ajax({
            url: Routing.generate('waiting_for_departure_orders_ajax_create_waybill', {'id': '{{ form_tab.object.id }}' }),
            data: form,
            dataType: "json",
            type: "POST",
            success: function (data) {
                if(data.status =='OK'){
                    location.reload();
                }else{
                    console.log(data);
                    return false;
                }
            },
            error: function (response) {
                if (response.status == 422) {
                    var message = '';
                    response.responseJSON.errors.forEach(function (error) {
                        $('[name="' + error.property_path + '"]').closest('.form-group').addClass('has-error');
                        message += error.property_path + ' - ' + error.message + '\n';
                    });
                    alert(message);
                }
            },
        });
        return false;
    });

    $(document).on('click', '#change_ttn', function(e) {
        e.stopPropagation();
        var form = $('#update_waybill :input').serialize();
        $.ajax({
            url: Routing.generate('waiting_for_departure_orders_ajax_update_waybill', {'id': '{{ form_tab.object.id }}' }),
            data: form,
            dataType: "json",
            type: "POST",
            success: function (data) {
                    location.reload();
            },
            error: function (data) {
                if (data.status == 422) {
                    alert(data.responseJSON.message);
                }
            }
        });
        return false;
    });

    $(document).on('click', '#print_ttn', function(e) {
        e.stopPropagation();
        $.ajax({
            url: Routing.generate('waiting_for_departure_orders_ajax_print_waybill', {'id': '{{ form_tab.object.id }}' }),
            data: {},
            dataType: "json",
            type: "POST",
            success: function (data) {
                if(data.status =='OK'){
                    window.open(data.link,'_blank');
                }else{
                    console.log(data);
                    return false;
                }
            },
            error: function (message) {
                console.log(message.status + ' ' + message.statusText);
                return false;
            },
        });
        return false;
    });

    $(document).on('click', '#delete_ttn', function(e) {
        e.stopPropagation();
        $.ajax({
            url: Routing.generate('waiting_for_departure_orders_ajax_delete_waybill', {'id': '{{ form_tab.object.id }}' }),
            data: {},
            dataType: "json",
            type: "POST",
            success: function (data) {
                if(data.status =='OK'){
//                    console.log(data);
                    location.reload();
                }else{
                    console.log(data);
                    return false;
                }
            },
            error: function (message) {
                console.log(message.status + ' ' + message.statusText);
                return false;
            },
        });
        return false;
    });
    $('.js-waybill-fields input').on('click focus', function () {
        $(this).closest('.form-group').removeClass('has-error');
    });
</script>