<div class="row" id="orderSizes">
    <div class="col-md-12">
        <div class="box box-success">
            <div class="box-header">
                <h4 class="box-title">{{ form_tab.name }}</h4>
            </div>
            <div class="box-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Выбор товара</th>
                            <th>Артикул</th>
                            <th>Картинка</th>
                            <th>Модель</th>
                            <th>Цвет</th>
                            <th>Размер</th>
                            <th>Количество на возврат</th>
                            <th>Было в заказе</th>
                            <th>Цена</th>
                            <th>Цена со скидкой</th>
                        </tr>
                    </thead>
                    <tbody class="sonata-ba-tbody">
                        {% include 'AppAdminBundle:admin/orders/return_product_sizes_list.html.twig'%}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="8" class="text-right">Всего</td>
                            <th colspan="2" id="totalPrice">{{ admin.subject.order.totalPrice }}</th>
                        </tr>
                        <tr>
                            <td colspan="8" class="text-right">Цена со скидкой</td>
                            <th colspan="2" id="discountedTotalPrice">{{ admin.subject.order.discountedTotalPrice }}</th>
                        </tr>
                        <tr>
                            <td colspan="8" class="text-right">Оплачено бонусами</td>
                            <th colspan="2" id="bonuses">{{ admin.subject.order.bonuses }}</th>
                        </tr>
                        <tr>
                            <td colspan="8" class="text-right">Погасить</td>
                            <th colspan="2" id="individualDiscount" class="js_order_update">{{ admin.subject.order.individualDiscount }}</th>
                        </tr>
                        <tr>
                            <td colspan="8" class="text-right">
                                <input type="text" value="{{ admin.subject.order.additionalSolarDescription }}"
                                       name="additionalSolarDescription" class="table-input text-right js_order_update"/>
                            </td>
                            <th colspan="2">
                                <input type="text" value="{{ admin.subject.order.additionalSolar }}" name="additionalSolar"
                                       class="table-input js_order_update"/>
                            </th>
                        </tr>
                        <tr>
                            <td colspan="8" class="text-right">К возврату</td>
                            <th colspan="2" id="individualReturnedTotalPrice">0</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
