{% extends 'SonataAdminBundle:CRUD:base_show.html.twig' %}

{% block show %}
    <div class="sonata-ba-view">

        {{ sonata_block_render_event('sonata.admin.show.top', { 'admin': admin, 'object': object }) }}

        {% for name, view_group in admin.showgroups %}
            <table class="table table-bordered">
                {% if name %}
                    <thead>
                    {% block show_title %}
                        <tr class="sonata-ba-view-title">
                            <th colspan="2">
                                {{ admin.trans(name) }}
                            </th>
                        </tr>
                    {% endblock %}
                    </thead>
                {% endif %}

                <tbody>
                {% for field_name in view_group.fields %}
                    {% block show_field %}
                        <tr class="sonata-ba-view-container">
                            {% if elements[field_name] is defined %}
                                {{ elements[field_name]|render_view_element(object) }}
                            {% endif %}
                        </tr>
                    {% endblock %}
                {% endfor %}
                </tbody>
            </table>
        {% endfor %}

        <div id="shareProducts" class="share-products"></div>

        {{ sonata_block_render_event('sonata.admin.show.bottom', { 'admin': admin, 'object': object }) }}

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var baseRouteParams = {{ {id: admin.subject.id}|json_encode()|raw }};
        var baseRouteName = '{{admin.baseRouteName}}';
    </script>

    <script src="{{ asset('bundles/appadmin/js/functions.js') }}"></script>
    <script src="{{ asset('bundles/appadmin/js/share_show.js') }}"></script>
{% endblock %}
