{% extends 'AppBundle:user/cabinet.html.twig' %}

{% block out_class %} out_sub {% endblock %}

{% block cabinet_content %}
    {% if message is defined %}
        <div class="my-discount">
            <h2>{{ message }}</h2>
        </div>
    {% else %}
        <div class="my-discount">
            <h2>Мои скидки</h2>

            <div class="my-discount-info">
                <p>Состояние на: <strong>{{ 'now'|date('d.m.Y') }}</strong></p>
                <div class="">
                    <p>{{ 'labels.user_bonuses'|transchoice(app.user.bonuses|round) }}</p>
                    <p>{{ 'labels.user_bonuses_processed'|transchoice(bonusesInProcess, {'%count%': bonusesInProcess}) }}</p>
                    {% if not (app.user.bonuses == 0 and bonusesInProcess == 0) %}
                        <button class="btn btn-primary toggle">Подробнее</button>
                    {% endif %}
                </div>
            </div>
            <div class="bonuses-table">
                <table>
                    <tr>
                        <th colspan="2">Активированные бонусы</th>
                    </tr>
                    <tr>
                        <td>Срок действия до</td>
                        <td>Количество</td>
                    </tr>
                    <tr>
                        <td>{{ deactivateBonusesTime | format_datetime}}</td>
                        <td>{{ app.user.bonuses }}</td>
                    </tr>
                    <tr>
                        <th colspan="2">Неактивированные бонусы</th>
                    </tr>
                    <tr>
                        <td>Дата активации</td>
                        <td>Количество</td>
                    </tr>
                    <tr>
                        <td>{{ dateActivationLastBonus | format_datetime }}</td>
                        <td>{{ bonusesInProcess }}</td>
                    </tr>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}