{% extends 'AppBundle:user/cabinet.html.twig' %}

{% block out_class %} out_sub {% endblock %}

{% block cabinet_content %}
    {% if app.session.flashBag.has('success') %} 
        {% for msg in app.session.flashBag.get('success') %}
            <div class="flash-success" id="flash-success">
                <div class="text-popup">
                   <div class="text-popup__i">
                      <p>{{ msg }}</p>
                   </div>
                </div>
             </div>
         {% endfor %}
    {% endif %}
    <div class="user-form">
        {{ form_start(form, {'attr': {'class': 'user-form__i'}}) }}
            <div class="rw">
                <div class="inp-name">
                    <label>Номер мобильного<sup>*</sup></label>
                </div>
                <div class="inp {{ add_error(form, 'phone') }}">
                    {{ form_widget(form.phone, {'attr': {'placeholder': 'Введите Ваш номер', 'class': 'phone-inp'}}) }}
                </div>
            </div>
            <div class="rw">
                <div class="inp-name">
                    <label>Ваше имя и фамилия<sup>*</sup></label>
                </div>
                <div class="inp {{ add_error(form, 'name') }}">
                    <div class="col">
                        {{ form_widget(form.name, {'attr': {'placeholder': 'Введите Имя'}}) }}
                    </div>
                    <div class="col {{ add_error(form, 'surname') }}">
                        {{ form_widget(form.surname, {'attr': {'placeholder': 'Введите Фамилию'}}) }}
                    </div>
                </div>
            </div>
            <div class="rw">
                <div class="inp-name">
                    <label>Ваш E-mail<sup>*</sup></label>
                </div>
                <div class="inp {{ add_error(form, 'email') }}">
                    {{ form_widget(form.email, {'attr': {'placeholder': 'Введите E-mail адрес'}}) }}
                </div>
            </div>
            <div class="rw mb20">
                <a href="#" class="change-passw-btn">Изменить пароль</a>
            </div>
            <div class="passw-change {% if has_error(form, 'plainPassword.first') %} active {% endif %}">
                <div class="rw">
                    <div class="inp-name">
                        <label>Пароль<sup>*</sup></label>
                    </div>
                    <div class="inp {{ add_error(form, 'plainPassword.first') }}">
                        {{ form_widget(form.plainPassword.first, {'attr': {'placeholder': 'Введите пароль'}}) }}
                    </div>
                </div>
                <div class="rw">
                    <div class="inp-name">
                        <label>Подтвердите пароль<sup>*</sup></label>
                    </div>
                    <div class="inp {{ add_error(form, 'plainPassword.first') }}">
                        {{ form_widget(form.plainPassword.second, {'attr': {'placeholder': 'Подтвердите пароль'}}) }}
                    </div>
                </div>
            </div>

            <div class="rw">
                {{ form_widget(form.submit, {'label': 'Подтвердить', 'attr': {'class': 'btn btn_blue'}}) }}
            </div>
        {{ form_end(form) }}
    </div>

{% endblock %}
