{% extends 'AppBundle:user/cabinet.html.twig' %}

{% block out_class %} out_sub {% endblock %}

{% block cabinet_content %}

    {% if wishList.count() %}
        {{ include('AppBundle:shop/partials/sorting_and_pagination.html.twig', { 'items': wishList }) }}

        {% if is_granted('ROLE_WHOLESALER') %}
            <div class="opt-list">
                <div class="opt-list__i">
                    {% for item in wishList %}
                        {{ include('AppBundle:shop:product/list_item_wholesale.html.twig', { 'item': item }) }}
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <div class="product-list">
                <div class="product-list__i">
                    {% for item in wishList %}
                        {{ include('AppBundle:shop:product/list_item.html.twig', { 'item': item.products, selectedModel: item}) }}
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {{ include('AppBundle:shop/partials/sorting_and_pagination.html.twig', { 'items': wishList }) }}
    {% else %}
        <div class="filter-no-results lk-opt">
            <p>У Вас пока нет товаров в списке желаний</p>
        </div>
    {% endif %}
{% endblock %}

{% block bottom_assets %}
    {{ parent() }}
    <script>
        var userIsAuthenticated = {{ is_granted('IS_AUTHENTICATED_FULLY') ? 'true' : 'false' }};
    </script>

    {% if is_granted('ROLE_WHOLESALER') %}
        {% javascripts
            '@AppBundle/Resources/public/js/wholesale.js'
            '@AppBundle/Resources/public/js/catalog_wholesale.js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% else %}
        {% javascripts '@AppBundle/Resources/public/js/catalog.js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}
{% endblock %}

{% block popups %}
    {{ parent() }}
    
    {{ include('AppBundle:shop/product/preorder_warning_popup.html.twig') }}
{% endblock %}
