{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'bundles/appadmin/sass/admin.scss' filter='compass' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="//cdn.ckeditor.com/4.5.7/standard/ckeditor.js"></script>
<script type="text/javascript">
    CKEDITOR.config.allowedContent = true;
</script>
{% endblock %}

{% block sonata_admin_content %}

    {% if _list_table is not empty or _list_filters is not empty %}
        <div class="row">
            {% if _list_filters|trim %}
                <div class="sonata-ba-filter col-md-12">
                    {{ _list_filters|raw }}
                </div>
            {% endif %}

            <div class="sonata-ba-list col-md-12">
                {{ _list_table|raw }}
            </div>
        </div>
    {% endif %}

    {% block notice %}
        {% include 'SonataCoreBundle:FlashMessage:render.html.twig' %}
    {% endblock notice %}

    {% if _preview is not empty %}
        <div class="sonata-ba-preview">{{ _preview|raw }}</div>
    {% endif %}

    {% if _content is not empty %}
        <div class="sonata-ba-content">{{ _content|raw }}</div>
    {% endif %}

    {% if _show is not empty %}
        <div class="sonata-ba-show">{{ _show|raw }}</div>
    {% endif %}

    {% if _form is not empty %}
        <div class="sonata-ba-form">{{ _form|raw }}</div>
    {% endif %}
{% endblock sonata_admin_content %}