{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bower_components/lightbox2/dist/css/lightbox.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bower_components/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css') }}">
    {% stylesheets 'bundles/appadmin/sass/admin.scss' filter='compass' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script src="{{ asset('bundles/appadmin/ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
{#<script src="//cdn.ckeditor.com/4.5.7/standard/ckeditor.js"></script>
<script type="text/javascript">
    CKEDITOR.config.allowedContent = true;
</script>#}
    <script type="text/javascript">
//        jQuery(document).ready(function(){
//            jQuery.datepicker.setDefaults( jQuery.datepicker.regional[ "" ] );
//            jQuery(".datepicker").datepicker( jQuery.datepicker.regional[ "ru" ]);
//        });
    </script>
{% endblock %}

{% block sonata_header %}
    {% include "ComurImageBundle:Form:croppable_image_modal.html.twig" with {'include_jquery': false, 'include_bootstrap': false} %}
    {{ parent() }}

{% endblock sonata_header %}

{% block navbar_title %}
    {{ parent() }}
    {{ 'Admin'|trans({}, 'SonataAdminBundle') }}

    {% if _title is not empty %}
        {{ _title|raw }}
    {% else %}
        {% if action is defined %}
            -
            {% for menu in admin.breadcrumbs(action) %}
                {% if not loop.first %}
                    {%  if loop.index != 2 %}
                        &gt;
                    {% endif %}

                    {{ menu.label|trans({}, 'AppAdminBundle') }}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endif%}
{% endblock %}

{% block sonata_breadcrumb %}
    {% if _breadcrumb is not empty or action is defined %}
        <ol class="nav navbar-top-links breadcrumb">
            {% if _breadcrumb is empty %}
                {% if action is defined %}
                    {% for menu in admin.breadcrumbs(action) %}
                        {% if not loop.last  %}
                            <li>
                                {% if menu.uri is not empty %}
                                    <a href="{{ menu.uri }}">{{ menu.label|trans({}, 'AppAdminBundle')|raw }}</a>
                                {% else %}
                                    {{ menu.label|trans({}, 'AppAdminBundle')|raw }}
                                {% endif %}
                            </li>
                        {% else %}
                            <li class="active"><span>{{ menu.label|trans({}, 'AppAdminBundle') }}</span></li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% else %}
                {{ _breadcrumb|raw|trans({}, 'AppAdminBundle') }}
            {% endif %}
        </ol>
    {% endif %}
{% endblock sonata_breadcrumb %}

{% block sonata_sidebar_search %}
    {% if app.security.token and is_granted('ROLE_SONATA_ADMIN') %}
        <form action="{{ path('search_by_ttn') }}" method="GET" class="sidebar-form" role="search">
            <div class="input-group custom-search-form">
                <input type="text" name="ttn" value="{{ app.request.get('ttn') }}" class="form-control" placeholder="{{ 'search_placeholder'|trans({}, 'AppAdminBundle') }}">
                <span class="input-group-btn">
                    <button class="btn btn-flat" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
    {% endif %}
{% endblock sonata_sidebar_search %}

{% block sonata_admin_content %}

    {% block notice %}
        {% include 'SonataCoreBundle:FlashMessage:render.html.twig' %}
    {% endblock notice %}

    {% if _list_table is not empty or _list_filters is not empty %}
        <div class="row">
            {% if _list_filters|trim %}
                <div class="sonata-ba-filter col-md-12">
                    {{ _list_filters|raw }}
                </div>
            {% endif %}

            <div class="sonata-ba-list col-md-12">
                {{ _list_table|raw }}
            </div>
        </div>
    {% endif %}

    {% if _preview is not empty %}
        <div class="sonata-ba-preview">{{ _preview|raw }}</div>
    {% endif %}

    {% if _content is not empty %}
        <div class="sonata-ba-content">{{ _content|raw }}</div>
    {% endif %}

    {% if _show is not empty %}
        <div class="sonata-ba-show">{{ _show|raw }}</div>
    {% endif %}

    {% if _form is not empty %}
        <div class="sonata-ba-form">{{ _form|raw }}</div>
    {% endif %}
{% endblock sonata_admin_content %}

{% block sonata_wrapper %}
    {{ parent() }}

    <script src="{{ asset('bower_components/lightbox2/dist/js/lightbox.min.js') }}"></script>
    <script src="{{ asset('bower_components/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js') }}"></script>
    {% block bottom_assets %}{% endblock bottom_assets %}
{% endblock sonata_wrapper %}

{% block side_bar_nav %}
    {% if app.security.token and is_granted('ROLE_SONATA_ADMIN') %}
        <ul class="sidebar-menu">
            {% for group in admin_pool.dashboardgroups %}
                {% set display = (group.roles is empty or is_granted('ROLE_SUPER_ADMIN') ) %}
                {% for role in group.roles if not display %}
                    {% set display = is_granted(role) %}
                {% endfor %}

                {# Do not display the group label if no item in group is available #}
                {% set item_count = 0 %}
                {% if display %}
                    {% for admin in group.items if item_count == 0 %}
                        {% if admin.hasroute('list') and admin.isGranted('LIST') %}
                            {% set item_count = item_count+1 %}
                        {% endif %}
                    {% endfor %}
                {% endif %}

                {% if display and (item_count > 0) %}
                    {% set active = false %}
                    {% for admin in group.items %}
                        {% if admin.hasroute('list') and admin.isGranted('LIST') and app.request.get('_sonata_admin') == admin.code %}
                            {% set active = true %}
                        {% endif %}
                    {% endfor %}
                    <li class="treeview{% if active %} active{% endif %}">
                        <a href="#">
                            {% if group.icon|default() %}{{ group.icon|raw }}{% endif %}
                            <span>{{ group.label|trans({}, group.label_catalogue) }}</span>
                            <i class="fa pull-right fa-angle-left"></i>
                        </a>
                        <ul class="treeview-menu{% if active %} active{% endif %}">
                            {% for admin in group.items %}
                                {% if admin.hasroute('list') and admin.isGranted('LIST') %}
                                    <li{% if app.request.get('_sonata_admin') == admin.code %} class="active"{% endif %}><a href="{{ admin.generateUrl('list')}}"><i class="fa fa-angle-double-right"></i> {{ admin.label|trans({}, admin.translationdomain) }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}
            {% endfor %}
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-folder"></i>
                    <span>Импорт</span>
                    <i class="fa pull-right fa-angle-left"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ url('admin_app_import_index') }}"><i class="fa fa-angle-double-right"></i>
                            Импорт</a></li>
                </ul>
            </li>
        </ul>
    {% endif %}
{% endblock side_bar_nav %}
