{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'bundles/appadmin/sass/admin.scss' filter='compass' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script src="{{ asset('bundles/appadmin/ckeditor/ckeditor.js') }}"></script>
{#<script src="//cdn.ckeditor.com/4.5.7/standard/ckeditor.js"></script>
<script type="text/javascript">
    CKEDITOR.config.allowedContent = true;
</script>#}
{% endblock %}

{% block navbar_title %}
    {{ parent() }}
    {{ 'Admin'|trans({}, 'SonataAdminBundle') }}

    {% if _title is not empty %}
        {{ _title|raw }}
    {% else %}
        {% if action is defined %}
            -
            {% for menu in admin.breadcrumbs(action) %}
                {% if not loop.first %}
                    {%  if loop.index != 2 %}
                        &gt;
                    {% endif %}

                    {{ menu.label|trans({}, 'AppAdminBundle') }}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endif%}
{% endblock %}

{% block sonata_breadcrumb %}
    {% if _breadcrumb is not empty or action is defined %}
        <ol class="nav navbar-top-links breadcrumb">
            {% if _breadcrumb is empty %}
                {% if action is defined %}
                    {% for menu in admin.breadcrumbs(action) %}
                        {% if not loop.last  %}
                            <li>
                                {% if menu.uri is not empty %}
                                    <a href="{{ menu.uri }}">{{ menu.label|raw|trans({}, 'AppAdminBundle') }}</a>
                                {% else %}
                                    {{ menu.label|trans({}, 'AppAdminBundle') }}
                                {% endif %}
                            </li>
                        {% else %}
                            <li class="active"><span>{{ menu.label|trans({}, 'AppAdminBundle') }}</span></li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% else %}
                {{ _breadcrumb|raw|trans({}, 'AppAdminBundle') }}
            {% endif %}
        </ol>
    {% endif %}
{% endblock sonata_breadcrumb %}

{% block sonata_sidebar_search %}
    {% if app.security.token and is_granted('ROLE_SONATA_ADMIN') %}
        <form action="{{ path('search_by_ttn') }}" method="GET" class="sidebar-form" role="search">
            <div class="input-group custom-search-form">
                <input type="text" name="ttn" value="{{ app.request.get('ttn') }}" class="form-control" placeholder="{{ 'search_placeholder'|trans({}, 'AppAdminBundle') }}">
                <span class="input-group-btn">
                    <button class="btn btn-flat" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
    {% endif %}
{% endblock sonata_sidebar_search %}

{% block sonata_admin_content %}

    {% if _list_table is not empty or _list_filters is not empty %}
        <div class="row">
            {% if _list_filters|trim %}
                <div class="sonata-ba-filter col-md-12">
                    {{ _list_filters|raw }}
                </div>
            {% endif %}

            <div class="sonata-ba-list col-md-12">
                {{ _list_table|raw }}
            </div>
        </div>
    {% endif %}

    {% block notice %}
        {% include 'SonataCoreBundle:FlashMessage:render.html.twig' %}
    {% endblock notice %}

    {% if _preview is not empty %}
        <div class="sonata-ba-preview">{{ _preview|raw }}</div>
    {% endif %}

    {% if _content is not empty %}
        <div class="sonata-ba-content">{{ _content|raw }}</div>
    {% endif %}

    {% if _show is not empty %}
        <div class="sonata-ba-show">{{ _show|raw }}</div>
    {% endif %}

    {% if _form is not empty %}
        <div class="sonata-ba-form">{{ _form|raw }}</div>
    {% endif %}
{% endblock sonata_admin_content %}