<div class="item js_cart_item">
    <table class="single-buy">

        <tr>
            <td>
                <div class="prod-img">
                    <a href="{{ url_to(size.size.model.products.baseCategory, size.size.model) }}">
                        {{ widget('products.flags', size.size.model)|raw }}
                        {% if size.size.model.images.0 is defined %}
                            <img src="{{ size.size.model.images.0.link | imagine_filter('in_cart') }}" />
                        {% else %}
                            <img src="{{ param('no_image') | imagine_filter('in_cart') }}"/>
                        {% endif %}
                    </a>
                </div>
            </td>
            <td>
                <p class="name">
                    <a href="{{ url_to(size.size.model.products.baseCategory, size.size.model) }}">
                        {{ size.size.model.products.name }}</a>
                </p>

                <p class="description">
                    Цвет {{ size.size.model.productColors.name }} (Артикул: {{ size.size.model.products.article }})
                </p>

                <div class="price price_new">
                    <p>
                        {{ widget('products.prices', size.size)|raw }}
                    </p>
                </div>

                <div class="size-select">
                    {{ widget('products.changeProductSize', size)|raw }}
                </div>
            </td>
            <td>
                <p class="name">
                    Количество
                </p>

                <div class="amount-select">
                    {{ widget('products.changeProductSizeCount', size, preOrderMode)|raw }}
                </div>
            </td>
            <td>
                <div class="total-cell">
                    <p class="name">Сумма</p>

                    <p class="total-price">
                        <span class="js_item_price" data-id="{{ size.size.id }}">
                            {{ preOrderMode ? size.preOrderDiscountedPrice : size.standardDiscountedPrice }}
                        </span> грн.
                    </p>

                    {{ widget('products.removeProductFromCart', size)|raw }}
                </div>
            </td>
        </tr>
    </table>
</div>

