<div class="item js_cart_item">
    <table class="single-buy">

        <tr>
            <td>
                <div class="prod-img">
                    <a href="#">
                        {{ widget('products.flags', item.productModel)|raw }}
                        {% if item.productModel.images.0 is defined %}
                            <img src="{{ item.productModel.images.0.link | imagine_filter('in_cart') }}" />
                        {% else %}
                            <img src="{{ param('no_image') | imagine_filter('in_cart') }}"/>
                        {% endif %}
                    </a>
                </div>
            </td>
            <td>
                <p class="name">
                    <a href="#">{{ item.productModel.products.name }}</a>
                </p>

                <p class="description">
                    Цвет {{ item.productModel.productColors.name }} (Артикул: {{ item.productModel.products.article }})
                </p>

                <div class="price price_new">
                    <p>
                        {{ widget('products.prices', item.productModel)|raw }}
                    </p>
                </div>

                <div class="size-select">
                    {{ widget('products.changeProductSize', size)|raw }}
                </div>
            </td>
            <td>
                <p class="name">
                    Количество
                </p>

                <div class="amount-select">
                    {{ widget('products.changeProductSizeCount', size)|raw }}
                </div>
            </td>
            <td>
                <div class="total-cell">
                    <p class="name">Сумма</p>

                    <p class="total-price">
                        <span class="js_item_price" data-id="{{ item.productModel.id }}">{{ item.price }}</span> грн.
                    </p>

                    {{ widget('products.removeProductFromCart', size)|raw }}
                </div>
            </td>
        </tr>
    </table>
</div>

