<div class="item js_wholesale_item" data-id="{{ item.skuProducts.0.id }}">
    <div class="item__i">
        {{ widget('products.flags', item) }}

        <table>
            <tr>
                <td>
                    <span>
                        <a href="#" class="open-btn"></a>
                        {{ item.skuProducts.0.sku }}
                    </span>
                </td>
                <td>
                    <span class="img-wrap">
                        <a href="#product-popup-{{ item.id }}" class="img popup_gallery">
                            {% if item.productModelImages.0 is defined %}
                                <img src="{{ item.productModelImages.0.link | imagine_filter('on_wholesale_cart_page') }}" />
                            {% else %}
                                <img src="{{ param('no_image') | imagine_filter('on_wholesale_cart_page') }}"/>
                            {% endif %}
                        </a>
                        {{ widget('products.wishButton', item)|raw }}
                    </span>
                </td>
                <td>
                    <strong>{{ item.name }}</strong>
                </td>
                <td>{{ item.productColors.name }}</td>
                <td>{{ item.products.getCharacteristicValueByType('material') }}</td>
                <td>
                    {% for size in item.sizes %}
                        <p>{{ size.size }}/1</p>
                    {% endfor %}
                </td>
                <td>
                    <div class="amount-control">
                        <a href="#" class="minus"></a>
                        <input type="text" class="js_pack_amounts_changer" value="0"/>
                        <a href="#" class="plus"></a>
                    </div>
                </td>
                <td>
                    <span class="js_item_price" data-price="{{ item.packagePrice|format_price }}">{{ item.packagePrice|format_price }}</span> грн.
                </td>
                <td class="buttons-holder">
                    <a href="#" class="btn btn_blue add-to-cart js_add_pack_to_cart"></a>

                    <div class="items-in-cart">
                        Добавлено
                        <span class="items-in-cart-count">
                            <span class="js_cart_item_packages_count" data-id="{{ item.skuProducts.0.id }}">
                                {{ cart.itemPackagesQuantity(item.skuProducts.0) }}
                            </span>
                            {{ 'labels.cart_products_packages'|transchoice(cart.itemPackagesQuantity(item.skuProducts.0)) }}
                        </span>
                    </div>
                </td>
            </tr>
        </table>


        <div class="item-drop">
            <div class="item-drop__i">
                <div class="inner clearfix">
                    <div class="col">
                        <div class="col__i">
                            <p>О товаре</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="col__i">
                            <p>Купить по размерам</p>
                        </div>
                    </div>
                </div>
                <div class="inner clearfix">
                    <div class="col">
                        <div class="col__i">
                            <div class="text">
                                <h2>О модели</h2>

                                {{ item.content }}

                                <h2>Характеристики</h2>

                                {{ item.characteristics }}

                                <h2>Особенности</h2>

                                {{ item.features }}
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="col__i">
                            {% for size in item.sizes %}
                                <table class="js_wholesale_item_size" data-id="{{ size.id }}">
                                    <tr>
                                        <td>{{ size.size }}</td>
                                        <td>
                                            <div class="amount-control">
                                                <a href="#" class="minus"></a>
                                                <input type="text" class="js_size_amount_changer" value="0"/>
                                                <a href="#" class="plus"></a>
                                            </div>
                                        </td>
                                        <td><span class="js_item_size_price"
                                                  data-price="{{ item.price }}">{{ item.price }}</span> грн.
                                        </td>
                                        <td>
                                            <a href="#" class="btn btn_blue js_add_size_to_cart"></a>

                                            <div class="items-in-cart">
                                                Добавлено
                                                <span class="items-in-cart-count">
                                                    <span class="js_cart_item_size_count"
                                                          data-id="{{ item.skuProducts.0.id }}"
                                                          data-size_id="{{ size.id }}">
                                                        {{ cart.getItemSizeQuantity(item.skuProducts.0, size.id) }}
                                                    </span>
                                                    {{ 'labels.cart_products'|transchoice(cart.getItemSizeQuantity(item.skuProducts.0, size.id)) }}
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
