<div class="item">
    <div class="item__i">
        <div class="flag flag_discount active">
            <div class="flag__i">
                <p>25%</p>
            </div>
        </div>

        {{ widget('products.wishButton', item.productModels.0)|raw }}

        <div class="img">
            <a href="{{ url_to(item.baseCategory, item.productModels.0) }}" title="{{ item.productModels.0.name }}">
            <a href="{{ url('product', {'category': item.baseCategory.alias,'product': item.productModels.0.alias}) }}" title="{{ item.productModels.0.name }}">
                {% if item.productModels.0.productModelImages.0 is defined and item.productModels.0.productModelImages.0.link is not null %}
                    <img src="{{ item.productModels.0.productModelImages.0.link | imagine_filter('medium') }}" alt="{{ item.productModels.0.name }}"/>
                {% else %}
                    <img src="{{ param('no_image') | imagine_filter('medium') }}" alt="{{ item.productModels.0.name }}"/>
                {% endif %}
            </a>
        </div>
        <div class="item-info">
            <div class="item-info__i">
                <div class="colors-info">
                    <p>{{ item.productModels.count }} {{ 'labels.colors'|transchoice(item.productModels.count) }}</p>
                </div>

                <div class="name"><p>{{ item.productModels.0.name }}</p></div>
                <div class="type">
                    <p>{{ item.baseCategory.name }}</p>
                </div>
                <div class="price price_new">
                    <p>
                        {{ widget('products.prices', item.productModels.0) }}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="hover">
        <div class="hover__i">
            <div class="color-slider">
                <div class="color-slider__i">
                    {% for model  in item.productModels %}
                        {% if model.productModelImages.0 is defined and model.productModelImages.0.link is not null%}
                            <a href="#" data-big-img="{{ model.productModelImages.0.link|imagine_filter('medium') }}">
                                <img src="{{ model.productModelImages.0.link|imagine_filter('mini') }}" alt="{{ item.productModels.0.name }}"/>
                            </a>
                        {% else %}
                            <a href="#" data-big-img="{{ param('no_image')|imagine_filter('medium') }}">
                                <img src="{{ param('no_image')|imagine_filter('mini') }}" alt="{{ item.productModels.0.name }}"/>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="item-info">
                <div class="item-info__i">


                    <div class="name"><p>{{ item.productModels.0.name }}</p></div>
                    <div class="type">
                        <p>{{ item.baseCategory.name }}</p>
                    </div>
                    <div class="price price_new">
                        <p>
                            {{ item.productModels.0.price|number_format(2, '.', ' ') }} грн.
                            {% if item.productModels.0.oldprice is not empty %}
                                <strong>{{ item.productModels.0.oldprice|number_format(2, '.', ' ') }} грн.</strong>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>

            {% if false %}
                <div class="btn-row">
                    <div class="btn-row__i">
                        <div class="incart">
                            <div class="incart__i">
                                <p>Товар добавлен</p>

                                <p><a href="#">в корзину</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}

                {% for model in item.productModels %}
                    <div class="sizes" data-modelId="{{ model.id }}">
                        <div class="sizes__i js_sizes">

                        </div>
                    </div>
                {% endfor %}

                <div class="btn-row">
                    <div class="btn-row__i">
                        <a href="#" class="btn btn_blue btn_buy">
                            <span>
                                <i class="icon icon-cart"></i>
								Купить
                            </span>
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
