<div class="item js_item">
    <div class="item__i">

        {% for model in item.productModels %}
            {{ widget('products.flags', model)|raw }}

            {{ widget('products.wishButton', model)|raw }}
        {% endfor %}

        <div class="img">
            <a href="{{ url_to(item.baseCategory, item.productModels.0) }}" title="{{ item.productModels.0.name }}">
            <a href="{{ url('product', {'category': item.baseCategory.alias,'product': item.productModels.0.alias}) }}" title="{{ item.productModels.0.name }}">
                {% if item.productModels.0.productModelImages.0 is defined and item.productModels.0.productModelImages.0.link is not null %}
                    <img src="{{ item.productModels.0.productModelImages.0.link | imagine_filter('medium') }}" alt="{{ item.productModels.0.name }}"/>
                {% else %}
                    <img src="{{ param('no_image') | imagine_filter('medium') }}" alt="{{ item.productModels.0.name }}"/>
                {% endif %}
            </a>
        </div>
        <div class="item-info">
            <div class="item-info__i">
                <div class="colors-info">
                    <p>{{ item.productModels.count }} {{ 'labels.colors'|transchoice(item.productModels.count) }}</p>
                </div>

                <div class="name"><p>{{ item.productModels.0.name }}</p></div>
                <div class="type">
                    <p>{{ item.baseCategory.name }}</p>
                </div>
                <div class="price price_new">
                    <p>
                        {{ widget('products.prices', item.productModels.0)|raw }}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="hover">
        <div class="hover__i">
            <div class="color-slider">
                <div class="color-slider__i">
                    {% for model  in item.productModels %}
                        {% set selectedClass = selectedModel is defined and selectedModel.id == model.id ? 'js_selected' : '' %}
                        {% if model.productModelImages.0 is defined and model.productModelImages.0.link is not null%}
                            <a href="#" class="js_change_model {{ selectedClass }}"
                               data-model-id="{{ model.id }}"
                               data-big-img="{{ model.productModelImages.0.link|imagine_filter('medium') }}">
                                <img src="{{ model.productModelImages.0.link|imagine_filter('mini') }}" alt="{{ item.productModels.0.name }}"/>
                            </a>
                        {% else %}
                            <a href="#" class="js_change_model {{ selectedClass }}" data-model-id="{{ model.id }}" data-big-img="{{ param('no_image')|imagine_filter('medium') }}">
                                <img src="{{ param('no_image')|imagine_filter('mini') }}" alt="{{ item.productModels.0.name }}"/>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="item-info">
                <div class="item-info__i">


                    <div class="name"><p>{{ item.productModels.0.name }}</p></div>
                    <div class="type">
                        <p>{{ item.baseCategory.name }}</p>
                    </div>
                    <div class="price price_new">
                        <p>
                            {{ widget('products.prices', item.productModels.0)|raw }}
                        </p>
                    </div>
                </div>
            </div>

            <div class="btn-row added-part">
                <div class="btn-row__i">
                    <div class="incart">
                        <div class="incart__i">
                            <p>Товар добавлен</p>

                            <p><a href="#">в корзину</a></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="not-added-part">
                {% for model in item.productModels %}
                    {{ widget('products.addInCart', model)|raw }}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
