<div class="item">
    <div class="item__i">
        {{ widget('products.flags', item) }}

        <table>
            <tr>
                <td>
                    <span>
                        <a href="#" class="open-btn"></a>
                        6548
                    </span>
                </td>
                <td>
                    <span class="img-wrap">
                        <a href="#product-popup" class="img popup_gallery">
                            <img src="img/demo/opt-product.jpg" alt=""/>
                        </a>
                        {{ widget('products.wishButton', item)|raw }}
                    </span>
                </td>
                <td>
                    <strong>{{ item.name }}</strong>
                </td>
                <td>{{ item.productColors.name }}</td>
                <td>{{ item.products.getCharacteristicValueByType('material') }}</td>
                <td>
                    {% for size in item.sizes %}
                        <p>{{ size.size }}/1</p>
                    {% endfor %}
                </td>
                <td>
                    <div class="amount-control">
                        <a href="#" class="minus"></a>
                        <input type="text" value="0"/>
                        <a href="#" class="plus"></a>
                    </div>
                </td>
                <td>1960 грн.</td>
                <td>
                    <a href="#" class="btn btn_blue add-to-cart"></a>
                </td>
            </tr>
        </table>


        <div class="item-drop">
            <div class="item-drop__i">
                <div class="inner clearfix">
                    <div class="col">
                        <div class="col__i">
                            <p>О товаре</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="col__i">
                            <p>Купить по размерам</p>
                        </div>
                    </div>
                </div>
                <div class="inner clearfix">
                    <div class="col">
                        <div class="col__i">
                            <div class="text">
                                <h2>О модели</h2>

                                <p>Стильное и удобное платье для тебя. Мягкая
                                    ткань
                                    приятна на ощупь, а вставки из шифона делают
                                    силуэт
                                    по-девичьи изящным.</p>

                                <h2>Характеристики</h2>

                                <ul>
                                    <li>Длина по спинке: 76 см (размер 36)</li>
                                    <li>Логотип sirius на внутреннем шве</li>
                                    <li>Шифоновые вставки на плечах; рифленые
                                        манжеты и нижний край
                                    </li>
                                    <li>Свободный крой</li>
                                    <li>Основа (трикотаж): 80% вискоза / 20%
                                        полиэстер; вставки: 100% полиэстер
                                    </li>
                                </ul>

                                <h2>Особенности</h2>

                                <ul>
                                    <li>Регулируемый капюшон с
                                        завязками-шнурками и воротом внахлест
                                    </li>
                                    <li>Рукава-реглан для свободы движения</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="col__i">
                            {% for size in item.sizes %}
                                <p>{{ size.size }}/1</p>
                            {% endfor %}
                            <table>
                                <tr>
                                    <td>50-52</td>
                                    <td>
                                        <div class="amount-control">
                                            <a href="#" class="minus"></a>
                                            <input type="text" value="0"/>
                                            <a href="#" class="plus"></a>
                                        </div>
                                    </td>
                                    <td>560 грн.</td>
                                    <td><a href="#" class="btn btn_blue"></a>
                                    </td>
                                </tr>
                            </table>
                            <table>
                                <tr>
                                    <td>54-56</td>
                                    <td>
                                        <div class="amount-control">
                                            <a href="#" class="minus"></a>
                                            <input type="text" value="0"/>
                                            <a href="#" class="plus"></a>
                                        </div>
                                    </td>
                                    <td>560 грн.</td>
                                    <td><a href="#" class="btn btn_blue"></a>
                                    </td>
                                </tr>
                            </table>
                            <table>
                                <tr>
                                    <td>56-58</td>
                                    <td>
                                        <div class="amount-control">
                                            <a href="#" class="minus"></a>
                                            <input type="text" value="0"/>
                                            <a href="#" class="plus"></a>
                                        </div>
                                    </td>
                                    <td>560 грн.</td>
                                    <td><a href="#" class="btn btn_blue"></a>
                                    </td>
                                </tr>
                            </table>
                            <table>
                                <tr>
                                    <td>60-62</td>
                                    <td>
                                        <div class="amount-control">
                                            <a href="#" class="minus"></a>
                                            <input type="text" value="0"/>
                                            <a href="#" class="plus"></a>
                                        </div>
                                    </td>
                                    <td>560 грн.</td>
                                    <td><a href="#" class="btn btn_blue"></a>
                                    </td>
                                </tr>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
