<div class="item js_wholesale_item" data-id="{{ item.id }}">
    <div class="item__i">
        {{ widget('products.flags', item)|raw }}
        <table>
            <tr>
                <td>
                    <span>
                        <a href="#" class="open-btn"></a>
                        {{ item.products.article }}
                    </span>
                </td>
                <td>
                    <span class="img-wrap">
                        <a href="#product-popup-{{ item.id }}" class="img popup_gallery">
                            {% if item.images.0 is defined %}
                                <img src="{{ item.images.0.link | imagine_filter('on_wholesale_cart_page') }}" />
                            {% else %}
                                <img src="{{ param('no_image') | imagine_filter('on_wholesale_cart_page') }}"/>
                            {% endif %}
                        </a>
                        {{ widget('products.wishButton', item)|raw }}
                    </span>
                </td>
                <td>
                    <strong>{{ item.products.name }}</strong>
                </td>
                <td>{{ item.productColors.name }}</td>
                <td>{{ item.products.getCharacteristicValueByType('material') }}</td>
                <td>
                    {% for size in item.sizes %}
                        <p>{{ size.size }}/1</p>
                    {% endfor %}
                </td>
                <td>
                    <div class="amount-control">
                        <div class="collect js_collect_message">
                            <div class="collect__i">
                                <a href="#" class="close-collect"></a>
                                <p>Выбранные Вами размеры собраны в ростовку</p>
                            </div>
                        </div>
                        <a href="#" class="minus"></a>
                        <input type="text" class="js_pack_amounts_changer" value="0"/>
                        <a href="#" class="plus"></a>
                    </div>
                </td>
                <td>
                    <span class="js_item_price" data-price="{{ prices.getProductModelPackageDiscountedPrice(item)|format_price }}">
                        {{ prices.getProductModelPackageDiscountedPrice(item)|format_price }}
                    </span> грн.
                </td>
                <td class="buttons-holder">
                    <a href="#" class="btn btn_blue add-to-cart js_add_pack_to_cart {% if item.preOrderFlag %} preorder {% endif %}">
                        {% if item.preOrderFlag %} <span>предзаказ</span> {% endif %}
                    </a>
                    <div class="items-in-cart">
                        Добавлено
                        <span class="items-in-cart-count">
                            <span class="js_cart_item_packages_count" data-id="{{ item.id }}">
                                {{ cart.itemPackagesQuantity(item) }}
                            </span>
                            {{ 'labels.cart_products_packages'|transchoice(cart.itemPackagesQuantity(item)) }}
                        </span>
                    </div>
                </td>
            </tr>
        </table>
        <div class="item-drop">
            <div class="item-drop__i">
                <div class="inner clearfix">
                    <div class="col">
                        <div class="col__i">
                            <p>О товаре</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="col__i">
                            <p>Купить по размерам</p>
                        </div>
                    </div>
                </div>
                <div class="inner clearfix">
                    <div class="col">
                        <div class="col__i">
                            <div class="text">
                                {% if item.products.content %}
                                    <h2>О модели</h2>
                                    {{ item.products.content|raw }}
                                {% endif %}
                                {% if item.products.characteristics %}
                                    <h2>Характеристики</h2>
                                    {{ item.products.characteristics|raw }}
                                {% endif %}
                                {% if item.products.features %}
                                    <h2>Особенности</h2>
                                    {{ item.products.features|raw }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col opt-list-sizes">
                        <div class="col__i">
                            {% for size in item.sizes %}
                                <table class="js_wholesale_item_size" data-id="{{ size.id }}">
                                    <tr>
                                        <td>{{ size.size.size }}</td>
                                        <td>
                                            <div class="amount-control">
                                                <a href="#" class="minus"></a>
                                                <input type="text" class="js_size_amount_changer" value="0"/>
                                                <a href="#" class="plus"></a>
                                            </div>
                                        </td>
                                        <td><span class="js_item_size_price"
                                                  data-price="{{ prices.getDiscountedPrice(size)|format_price }}">{{ prices.getDiscountedPrice(size)|format_price }}</span> грн.
                                        </td>
                                        <td>
                                            <a href="#" class="btn btn_blue js_add_size_to_cart"></a>

                                            <div class="items-in-cart">
                                                Добавлено
                                                <span class="items-in-cart-count">
                                                    <span class="js_cart_item_size_count"
                                                          data-id="{{ item.id }}"
                                                          data-size_id="{{ size.id }}">
                                                        {{ cart.getItemSizeQuantity(size) }}
                                                    </span>
                                                    {{ 'labels.cart_products'|transchoice(cart.getItemSizeQuantity(size)) }}
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
