{% extends 'AppBundle:base.html.twig' %}

{% block out_class %} out_sub {% endblock %}

{% block body %}
    <section class="content">
        <div class="wrap">
            <div class="content__i">

                {{ widget('breadcrumbs.render')|raw }}

                <div class="product js_item">
                    <div class="product__i">

                        <div class="main">
                            <div class="main__i">

                                <div class="product-img">
                                    <div class="list">
                                        <div class="item active">
                                            <div class="main-img">
                                                <div class="flag flag_discount">
                                                    <div class="flag__i">
                                                        <p>25%</p>
                                                    </div>

                                                </div>
                                                {{ widget('products.wishButton', current_model)|raw }}

                                                <div class="main-img__i big-img_slider">
                                                    {% if current_model.productModelImages is empty %}
                                                        <a href="#"><img src="{{ param('no_image') | imagine_filter('medium') }}" alt="#"/></a>
                                                    {% else %}
                                                        {% for image in current_model.productModelImages %}
                                                            <a href="#"><img src="{{ (image.link ? : param('no_image')) | imagine_filter('medium') }}" alt="#"/></a>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>

                                            <div class="main-img-slider">
                                                <div class="main-img-slider__i">
                                                    {% if current_model.productModelImages is empty %}
                                                        <a href="#product-popup" class="popup_gallery"
                                                           data-src="{{ param('no_image') | imagine_filter('medium') }}">
                                                            <img src="{{ param('no_image') | imagine_filter('small') }}" alt="#"/>
                                                        </a>
                                                    {% else %}
                                                        {% for image in current_model.productModelImages %}
                                                            <a href="#product-popup-{{ current_model.id }}" class="popup_gallery"
                                                               data-src="{{ (image.link ? : param('no_image')) | imagine_filter('medium') }}">
                                                                <img src="{{ (image.link ? : param('no_image')) | imagine_filter('small') }}" alt="#"/>
                                                            </a>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="product-info">
                                    <div class="product-info__i">

                                        <h3 class="type">Пуховик</h3>

                                        <h2 class="name">Beefre</h2>

                                        <div class="price price_new">
                                            <p>{{ widget('products.prices', current_model) }}</p>
                                        </div>

                                        <div class="color-select">
                                            <div class="color-select__i">
                                                <p class="color-select-inf">Цвет {{ current_model.productColors.name }} (Артикул: {{ skuProduct.sku }})</p>

                                                <div class="list">
                                                    <ul>
                                                        {% for key, model in models %}
                                                            <li class="{% if model.id == current_model.id %} active {% endif %}">
                                                                <a href="{{ url_to(product.baseCategory, model) }}">
                                                                    <img src="{{ (model.productModelImages is empty ? param('no_image') : model.productModelImages.0.link) | imagine_filter('mini') }}" alt="#"/>
                                                                </a>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!--color-select end-->

                                        {{ form_start(form, {'attr': {'novalidate': true, 'class': 'js_model_form'}}) }}
                                            <div class="product-options">
                                                <div class="product-options__i">

                                                    <ul>
                                                        <li>
                                                            {{ form_widget(form.size, {'attr': {'data-placeholder': 'Выберите размер', 'class': 'select'}}) }}
                                                        </li>
                                                        <li>
                                                            {{ form_widget(form.quantity, {'attr': {'data-placeholder': 'К-во', 'class': 'select'}}) }}
                                                        </li>
                                                        <li>
                                                            <a href="#size-table2" class="popup_js">Как снять размер?</a>
                                                        </li>
                                                    </ul>

                                                </div>
                                            </div>

                                            <div class="product-message">
                                                {% if skuProduct.quantity < 10 %}
                                                    <p>Этот размер скоро закончится</p>
                                                {% endif %}
                                            </div>

                                            <div class="buy-row">
                                                <div class="buy-row__i">

                                                    <div class="col">
                                                        <div class="not-added-part">
                                                            <a href="#" class="btn btn_blue btn_buy"><span>КУПИТЬ</span></a>
                                                            {{ form_widget(form.submit, {'attr': {'class': 'fake-over-btn'}, 'label': 'Купить'}) }}
                                                        </div>

                                                        <div class="incart added-part">
                                                            <div class="incart__i">
                                                                <p>Товар добавлен</p>
                                                                <p><a href="#">в корзину</a></p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col">
                                                        <div class="product-share">
                                                            <ul>
                                                                <li class="fb"><a href="#"><i
                                                                                class="icon icon-fb3"></i>1</a></li>
                                                                <li class="gplus"><a href="#"><i
                                                                                class="icon icon-gplus3"></i>0</a></li>
                                                                <li class="vk"><a href="#"><i
                                                                                class="icon icon-vk3"></i>0</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        {{ form_end(form) }}

                                        <div class="fast-buy">
                                            <div class="fast-buy__i">
                                                <h2>Быстрый заказ</h2>

                                                <p>Менеджер перезвонит Вам и уточнит детали</p>

                                                {{ form_start(quickForm) }}
                                                    <div class="row">
                                                        <div class="col">
                                                            {{ form_widget(quickForm.phone, {'attr': {'placeholder': 'Введите Ваш номер', 'class': 'phone-inp only-numbers'}}) }}
                                                        </div>
                                                        <div class="col">
                                                            {{ form_widget(quickForm.submit, {'attr': {'class': 'btn btn_black_transparent'}, 'label': 'ЗАКАЗАТЬ'}) }}
                                                        </div>
                                                    </div>
                                                {{ form_end(form) }}
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="side">
                            <div class="side__i">

                                <div class="buyer-info">
                                    <div class="buyer-info__i">

                                        <div class="item">
                                            <div class="item__i">
                                                <h2><i class="icon icon-delivery"></i>Доставка</h2>
                                                <ul>
                                                    <li>— Доставка на склад Новой Почты:
                                                        <strong>35 грн.</strong> <br/>
                                                        Срок доставки 1-2 дня
                                                    </li>
                                                    <li>— Доставка курьером: <strong>бесплатно</strong><br/>
                                                        Срок доставки 1-2 дня
                                                    </li>
                                                    <li>
                                                        — Адресная доставка Новой Почтой:
                                                        <strong>70 грн.</strong> <br/>
                                                        Срок доставки 1-2 дня

                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                        <!--item end-->

                                        <div class="item">
                                            <div class="item__i">
                                                <h2><i class="icon icon-wallet"></i>Оплата</h2>
                                                <ul>
                                                    <li>— наличными при получении
                                                        товара
                                                    </li>
                                                    <li>— безналичная оплата</li>
                                                    <li>— картой VISA</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!--item end-->

                                        <div class="item">
                                            <div class="item__i">
                                                <h2><i class="icon icon-warranty"></i>Гарантия</h2>

                                                <p>Обмен или возврат в течение
                                                    14 дней. </p>
                                            </div>
                                        </div>
                                        <!--item end-->

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="product-description">
                    <div class="product-description__i">
                        <h1>Пуховик Befree</h1>

                        <div class="row">
                            <div class="col-md-4 col-lg-4">
                                <h2>О модели</h2>

                                <p> Стильное и удобное платье для тебя. Мягкая ткань приятна на ощупь, а вставки из
                                    шифона делают силуэт по-девичьи изящным.
                                </p>
                            </div>
                            <div class="col-md-4 col-lg-4">
                                <h2>Характеристики</h2>
                                <ul>
                                    <li>Длина по спинке: 76 см (размер 36)</li>
                                    <li>Регулируемый капюшон с завязками-шнурками и воротом внахлест</li>
                                    <li>Логотип sirius на внутреннем шве</li>
                                    <li>Рукава-реглан для свободы движения; шифоновые вставки на плечах; рифленые
                                        манжеты и нижний край
                                    </li>
                                    <li>Свободный крой</li>
                                    <li>Основа (трикотаж): 80% вискоза / 20% полиэстер; вставки: 100% полиэстер</li>
                                </ul>
                            </div>
                            <div class="col-md-4 col-lg-4">
                                <h2>Особенности</h2>
                                <ul>
                                    <li>Регулируемый капюшон с завязками-шнурками и воротом внахлест</li>
                                    <li>Рукава-реглан для свободы движения</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                {{ widget('products.recommended')|raw }}

                {{ widget('products.recentlyReviewed')|raw }}

            </div>
        </div>
    </section>
    <div class="push"></div>
{% endblock %}

{% block popups %}
    {{ include('AppBundle:shop/product/items_popup_galleries.html.twig', { 'items': [current_model] }) }}

    {{ include('AppBundle:shop/partials/sizes_popup.html.twig') }}
{% endblock %}

{% block bottom_assets %}
    {{ parent() }}

    {% javascripts '@AppBundle/Resources/public/js/product.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
