{% extends 'AppBundle:base.html.twig' %}

{% block out_class %} out_sub {% endblock %}

{% block body %}
    <section class="content">
        <div class="wrap">
            <div class="content__i">

                {{ widget('breadcrumbs.render')|raw }}

                <div class="product">
                    <div class="product__i">

                        <div class="main">
                            <div class="main__i">

                                <div class="product-img">
                                    <div class="list">
                                        {% for key, model in models %}
                                            <div class="item {% if not key %} active {% endif %}">
                                                <div class="main-img">
                                                    <div class="flag flag_discount">
                                                        <div class="flag__i">
                                                            <p>25%</p>
                                                        </div>

                                                    </div>
                                                    {{ widget('products.wishButton', model)|raw }}

                                                    <div class="main-img__i big-img_slider">
                                                        {% if model.productModelImages is empty %}
                                                            <a href="#"><img src="{{ param('no_image') | imagine_filter('medium') }}" alt="#"/></a>
                                                        {% else %}
                                                            {% for image in model.productModelImages %}
                                                                <a href="#"><img src="{{ (image.link ? : param('no_image')) | imagine_filter('medium') }}" alt="#"/></a>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </div>
                                                </div>

                                                <div class="main-img-slider">
                                                    <div class="main-img-slider__i">
                                                        {% if model.productModelImages is empty %}
                                                            <a href="#product-popup" class="popup_gallery"
                                                               data-src="{{ param('no_image') | imagine_filter('medium') }}">
                                                                <img src="{{ param('no_image') | imagine_filter('small') }}" alt="#"/>
                                                            </a>
                                                        {% else %}
                                                            {% for image in model.productModelImages %}
                                                                <a href="#product-popup" class="popup_gallery"
                                                                   data-src="{{ (image.link ? : param('no_image')) | imagine_filter('medium') }}">
                                                                    <img src="{{ (image.link ? : param('no_image')) | imagine_filter('small') }}" alt="#"/>
                                                                </a>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>


                                <div class="product-info">
                                    <div class="product-info__i">

                                        <h3 class="type">Пуховик</h3>

                                        <h2 class="name">Beefre</h2>

                                        <div class="price price_new">
                                            <p>960 грн. <strong>1160 грн.</strong></p>
                                        </div>

                                        <div class="color-select">
                                            <div class="color-select__i">
                                                <p class="color-select-inf">Цвет Желтый (Артикул: AJ0116)</p>

                                                <div class="list">
                                                    <ul>
                                                        <li class="active">
                                                            <a href="#"
                                                               data-product-info="Цвет Желтый (Артикул: AJ0116)">
                                                                <img src="img/demo/product1-small.jpg" alt="#"/>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#"
                                                               data-product-info="Цвет Зеленый (Артикул: AJ0117)">
                                                                <img src="img/demo/product1-2-small.jpg" alt="#"/>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#"
                                                               data-product-info="Цвет Синий (Артикул: AJ0118)">
                                                                <img src="img/demo/product-1-3-small.jpg" alt="#"/>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!--color-select end-->

                                        <div class="product-options">
                                            <div class="product-options__i">

                                                <ul>
                                                    <li>
                                                        <select class="select" data-placeholder="Выберите размер">
                                                            <option value=""></option>
                                                            <option value="1">S</option>
                                                            <option value="2">M</option>
                                                            <option value="3">L</option>
                                                            <option value="4">XL</option>
                                                            <option value="5">XXL</option>
                                                            <option value="6">XXXL</option>
                                                        </select>
                                                    </li>
                                                    <li>
                                                        <select class="select" data-placeholder="К-во">
                                                            <option value=""></option>
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                            <option value="5">5</option>
                                                            <option value="6">6</option>
                                                            <option value="7">7</option>
                                                            <option value="8">8</option>
                                                            <option value="9">9</option>
                                                            <option value="10">10</option>
                                                        </select>
                                                    </li>
                                                    <li>
                                                        <a href="#size-table2" class="popup_js">Как снять размер?</a>
                                                    </li>
                                                </ul>

                                            </div>
                                        </div>
                                        <!--product-options end-->

                                        <div class="product-message">
                                            <p>Этот размер скоро закончится</p>
                                        </div>

                                        <div class="buy-row">
                                            <div class="buy-row__i">

                                                <div class="col">
                                                    <a href="#" class="btn btn_blue btn_buy"><span>КУПИТЬ</span></a>
                                                </div>

                                                <div class="col">
                                                    <div class="product-share">
                                                        <ul>
                                                            <li class="fb"><a href="#"><i
                                                                            class="icon icon-fb3"></i>1</a></li>
                                                            <li class="gplus"><a href="#"><i
                                                                            class="icon icon-gplus3"></i>0</a></li>
                                                            <li class="vk"><a href="#"><i
                                                                            class="icon icon-vk3"></i>0</a></li>
                                                        </ul>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="fast-buy">
                                            <div class="fast-buy__i">
                                                <h2>Быстрый заказ</h2>

                                                <p>Менеджер перезвонит Вам и уточнит детали</p>

                                                <form method="post">
                                                    <div class="row">
                                                        <div class="col">
                                                            <input type="text" class="phone-inp only-numbers"
                                                                   placeholder="Введите Ваш номер"/>
                                                        </div>
                                                        <div class="col">
                                                            <input type="submit" value="ЗАКАЗАТЬ"
                                                                   class="btn btn_black_transparent"/>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="side">
                            <div class="side__i">

                                <div class="buyer-info">
                                    <div class="buyer-info__i">

                                        <div class="item">
                                            <div class="item__i">
                                                <h2><i class="icon icon-delivery"></i>Доставка</h2>
                                                <ul>
                                                    <li>— Доставка на склад Новой Почты:
                                                        <strong>35 грн.</strong> <br/>
                                                        Срок доставки 1-2 дня
                                                    </li>
                                                    <li>— Доставка курьером: <strong>бесплатно</strong><br/>
                                                        Срок доставки 1-2 дня
                                                    </li>
                                                    <li>
                                                        — Адресная доставка Новой Почтой:
                                                        <strong>70 грн.</strong> <br/>
                                                        Срок доставки 1-2 дня

                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                        <!--item end-->

                                        <div class="item">
                                            <div class="item__i">
                                                <h2><i class="icon icon-wallet"></i>Оплата</h2>
                                                <ul>
                                                    <li>— наличными при получении
                                                        товара
                                                    </li>
                                                    <li>— безналичная оплата</li>
                                                    <li>— картой VISA</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!--item end-->

                                        <div class="item">
                                            <div class="item__i">
                                                <h2><i class="icon icon-warranty"></i>Гарантия</h2>

                                                <p>Обмен или возврат в течение
                                                    14 дней. </p>
                                            </div>
                                        </div>
                                        <!--item end-->

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="product-description">
                    <div class="product-description__i">
                        <h1>Пуховик Befree</h1>

                        <div class="row">
                            <div class="col-md-4 col-lg-4">
                                <h2>О модели</h2>

                                <p> Стильное и удобное платье для тебя. Мягкая ткань приятна на ощупь, а вставки из
                                    шифона делают силуэт по-девичьи изящным.
                                </p>
                            </div>
                            <div class="col-md-4 col-lg-4">
                                <h2>Характеристики</h2>
                                <ul>
                                    <li>Длина по спинке: 76 см (размер 36)</li>
                                    <li>Регулируемый капюшон с завязками-шнурками и воротом внахлест</li>
                                    <li>Логотип sirius на внутреннем шве</li>
                                    <li>Рукава-реглан для свободы движения; шифоновые вставки на плечах; рифленые
                                        манжеты и нижний край
                                    </li>
                                    <li>Свободный крой</li>
                                    <li>Основа (трикотаж): 80% вискоза / 20% полиэстер; вставки: 100% полиэстер</li>
                                </ul>
                            </div>
                            <div class="col-md-4 col-lg-4">
                                <h2>Особенности</h2>
                                <ul>
                                    <li>Регулируемый капюшон с завязками-шнурками и воротом внахлест</li>
                                    <li>Рукава-реглан для свободы движения</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="last-viewed">
                    <h2>Рекомендуем также</h2>

                    <div class="last-viewed__i">

                        <div class="item">
                            <a href="#">
                                <div class="item__i">
                                    <div class="img">
                                        <img src="img/demo/last-1.jpg" alt="#"/>
                                    </div>
                                    <div class="info">
                                        <div class="info__i">
                                            <p><strong>Befree</strong></p>

                                            <p>250 грн.</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!--item end-->

                        <div class="item">
                            <a href="#">
                                <div class="item__i">
                                    <div class="flag flag_hit">
                                        <div class="flag__i"><p>ХИТ ПРОДАЖ</p></div>
                                    </div>
                                    <div class="img">
                                        <img src="img/demo/last-2.jpg" alt="#"/>
                                    </div>
                                    <div class="info">
                                        <div class="info__i">
                                            <p><strong>Befree</strong></p>

                                            <p>250 грн.</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!--item end-->

                        <div class="item">
                            <a href="#">
                                <div class="item__i">
                                    <div class="flag flag_new">
                                        <div class="flag__i"><p>НОВИНКА</p></div>
                                    </div>
                                    <div class="img">
                                        <img src="img/demo/last-3.jpg" alt="#"/>
                                    </div>
                                    <div class="info">
                                        <div class="info__i">
                                            <p><strong>Befree</strong></p>

                                            <p>250 грн.</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!--item end-->

                        <div class="item">
                            <a href="#">
                                <div class="item__i">
                                    <div class="flag flag_new">
                                        <div class="flag__i"><p>НОВИНКА</p></div>
                                    </div>
                                    <div class="img">
                                        <img src="img/demo/last-4.jpg" alt="#"/>
                                    </div>
                                    <div class="info">
                                        <div class="info__i">
                                            <p><strong>Befree</strong></p>

                                            <p>250 грн.</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!--item end-->

                        <div class="item">
                            <a href="#">
                                <div class="item__i">
                                    <div class="img">
                                        <img src="img/demo/last-1.jpg" alt="#"/>
                                    </div>
                                    <div class="info">
                                        <div class="info__i">
                                            <p><strong>Befree</strong></p>

                                            <p>250 грн.</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!--item end-->

                        <div class="item">
                            <a href="#">
                                <div class="item__i">
                                    <div class="img">
                                        <img src="img/demo/last-2.jpg" alt="#"/>
                                    </div>
                                    <div class="info">
                                        <div class="info__i">
                                            <p><strong>Befree</strong></p>

                                            <p>250 грн.</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!--item end-->

                        <div class="item">
                            <a href="#">
                                <div class="item__i">
                                    <div class="img">
                                        <img src="img/demo/last-3.jpg" alt="#"/>
                                    </div>
                                    <div class="info">
                                        <div class="info__i">
                                            <p><strong>Befree</strong></p>

                                            <p>250 грн.</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!--item end-->

                        <div class="item">
                            <a href="#">
                                <div class="item__i">
                                    <div class="img">
                                        <img src="img/demo/last-4.jpg" alt="#"/>
                                    </div>
                                    <div class="info">
                                        <div class="info__i">
                                            <p><strong>Befree</strong></p>

                                            <p>250 грн.</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!--item end-->

                        <div class="item">
                            <a href="#">
                                <div class="item__i">
                                    <div class="img">
                                        <img src="img/demo/last-1.jpg" alt="#"/>
                                    </div>
                                    <div class="info">
                                        <div class="info__i">
                                            <p><strong>Befree</strong></p>

                                            <p>250 грн.</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!--item end-->

                        <div class="item">
                            <a href="#">
                                <div class="item__i">
                                    <div class="img">
                                        <img src="img/demo/last-2.jpg" alt="#"/>
                                    </div>
                                    <div class="info">
                                        <div class="info__i">
                                            <p><strong>Befree</strong></p>

                                            <p>250 грн.</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!--item end-->

                        <div class="item">
                            <a href="#">
                                <div class="item__i">
                                    <div class="img">
                                        <img src="img/demo/last-3.jpg" alt="#"/>
                                    </div>
                                    <div class="info">
                                        <div class="info__i">
                                            <p><strong>Befree</strong></p>

                                            <p>250 грн.</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!--item end-->

                        <div class="item">
                            <a href="#">
                                <div class="item__i">
                                    <div class="img">
                                        <img src="img/demo/last-4.jpg" alt="#"/>
                                    </div>
                                    <div class="info">
                                        <div class="info__i">
                                            <p><strong>Befree</strong></p>

                                            <p>250 грн.</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!--item end-->

                    </div>
                </div>
                <!--last-viewed end-->


                <div class="last-viewed">
                    <h2>Вы уже просматривали</h2>

                    <div class="last-viewed__i">

                        <div class="item">
                            <a href="#">
                                <div class="item__i">
                                    <div class="img">
                                        <img src="img/demo/last-1.jpg" alt="#"/>
                                    </div>
                                    <div class="info">
                                        <div class="info__i">
                                            <p><strong>Befree</strong></p>

                                            <p>250 грн.</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!--item end-->

                        <div class="item">
                            <a href="#">
                                <div class="item__i">
                                    <div class="flag flag_hit">
                                        <div class="flag__i"><p>ХИТ ПРОДАЖ</p></div>
                                    </div>
                                    <div class="img">
                                        <img src="img/demo/last-2.jpg" alt="#"/>
                                    </div>
                                    <div class="info">
                                        <div class="info__i">
                                            <p><strong>Befree</strong></p>

                                            <p>250 грн.</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!--item end-->

                        <div class="item">
                            <a href="#">
                                <div class="item__i">
                                    <div class="flag flag_new">
                                        <div class="flag__i"><p>НОВИНКА</p></div>
                                    </div>
                                    <div class="img">
                                        <img src="img/demo/last-3.jpg" alt="#"/>
                                    </div>
                                    <div class="info">
                                        <div class="info__i">
                                            <p><strong>Befree</strong></p>

                                            <p>250 грн.</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!--item end-->

                        <div class="item">
                            <a href="#">
                                <div class="item__i">
                                    <div class="flag flag_new">
                                        <div class="flag__i"><p>НОВИНКА</p></div>
                                    </div>
                                    <div class="img">
                                        <img src="img/demo/last-4.jpg" alt="#"/>
                                    </div>
                                    <div class="info">
                                        <div class="info__i">
                                            <p><strong>Befree</strong></p>

                                            <p>250 грн.</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!--item end-->

                        <div class="item">
                            <a href="#">
                                <div class="item__i">
                                    <div class="img">
                                        <img src="img/demo/last-1.jpg" alt="#"/>
                                    </div>
                                    <div class="info">
                                        <div class="info__i">
                                            <p><strong>Befree</strong></p>

                                            <p>250 грн.</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!--item end-->

                        <div class="item">
                            <a href="#">
                                <div class="item__i">
                                    <div class="img">
                                        <img src="img/demo/last-2.jpg" alt="#"/>
                                    </div>
                                    <div class="info">
                                        <div class="info__i">
                                            <p><strong>Befree</strong></p>

                                            <p>250 грн.</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!--item end-->

                        <div class="item">
                            <a href="#">
                                <div class="item__i">
                                    <div class="img">
                                        <img src="img/demo/last-3.jpg" alt="#"/>
                                    </div>
                                    <div class="info">
                                        <div class="info__i">
                                            <p><strong>Befree</strong></p>

                                            <p>250 грн.</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!--item end-->

                        <div class="item">
                            <a href="#">
                                <div class="item__i">
                                    <div class="img">
                                        <img src="img/demo/last-4.jpg" alt="#"/>
                                    </div>
                                    <div class="info">
                                        <div class="info__i">
                                            <p><strong>Befree</strong></p>

                                            <p>250 грн.</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!--item end-->

                        <div class="item">
                            <a href="#">
                                <div class="item__i">
                                    <div class="img">
                                        <img src="img/demo/last-1.jpg" alt="#"/>
                                    </div>
                                    <div class="info">
                                        <div class="info__i">
                                            <p><strong>Befree</strong></p>

                                            <p>250 грн.</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!--item end-->

                        <div class="item">
                            <a href="#">
                                <div class="item__i">
                                    <div class="img">
                                        <img src="img/demo/last-2.jpg" alt="#"/>
                                    </div>
                                    <div class="info">
                                        <div class="info__i">
                                            <p><strong>Befree</strong></p>

                                            <p>250 грн.</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!--item end-->

                        <div class="item">
                            <a href="#">
                                <div class="item__i">
                                    <div class="img">
                                        <img src="img/demo/last-3.jpg" alt="#"/>
                                    </div>
                                    <div class="info">
                                        <div class="info__i">
                                            <p><strong>Befree</strong></p>

                                            <p>250 грн.</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!--item end-->

                        <div class="item">
                            <a href="#">
                                <div class="item__i">
                                    <div class="img">
                                        <img src="img/demo/last-4.jpg" alt="#"/>
                                    </div>
                                    <div class="info">
                                        <div class="info__i">
                                            <p><strong>Befree</strong></p>

                                            <p>250 грн.</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!--item end-->

                    </div>
                </div>
                <!--last-viewed end-->

            </div>
        </div>
    </section>
    <div class="push"></div>
{% endblock %}

{% block popups %}
    <div class="product-popup" id="product-popup">
        <div class="product-popup__i">
            {# todo dynamicaly add content to popup #}
            <div class="big-img">
                <img src="img/demo/big-product.jpg" alt="#"/>
                <img src="img/demo/big-product.jpg" alt="#"/>
                <img src="img/demo/big-product.jpg" alt="#"/>
                <img src="img/demo/big-product.jpg" alt="#"/>
                <img src="img/demo/big-product.jpg" alt="#"/>
                <img src="img/demo/big-product.jpg" alt="#"/>
                <img src="img/demo/big-product.jpg" alt="#"/>
                <img src="img/demo/big-product.jpg" alt="#"/>
            </div>

            <a href="#" class="thumb-prev"></a>
            <a href="#" class="thumb-next"></a>

        </div>
    </div>
{% endblock %}