{% extends 'AppBundle:base.html.twig' %}

{% block out_class %} out_sub {% endblock %}

{% block meta %}
    {% set image = (current_model.images is empty ? param('no_image') : current_model.images.0.link) | imagine_filter('medium') %}
    <title>{{ current_model }}</title>
    <meta name="description" content="{{ current_model.products.seoDescription }}" />
    <meta name="keywords" content="{{ current_model.products.seoKeywords }}" />
    <meta property="og:title" content="{{ current_model.products.seoTitle ? : current_model }}"/>
    <meta property="og:description" content="{{ current_model.products.seoDescription }}"/>
    <meta property="og:image" content="{{ image }}"/>
    <meta property="og:type" content="product" />
    <meta property="og:url" content="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}"/>
    <meta property="og:site_name" content="Интернет магазин Sirius-sport.com" />
    <link rel="image_src" href="{{ image }}">
{% endblock %}

{% block body %}
    <section class="content">
        <div class="wrap">
            <div class="content__i">
                {{ widget('breadcrumbs.render')|raw }}
                <div class="product js_item">
                    <div class="product__i">
                        <div class="main">
                            <div class="main__i">
                                <div class="product-img">
                                    <div class="list">
                                        <div class="item active">
                                            <div class="main-img">
                                                {{ widget('products.flags', current_model)|raw }}
                                                {{ widget('products.wishButton', current_model)|raw }}
                                                <div class="main-img__i big-img_slider">
                                                    {% if current_model.images is empty %}
                                                        <a href="#"><img src="{{ param('no_image') | imagine_filter('medium') }}" alt="#"/></a>
                                                    {% else %}
                                                        {% for image in current_model.images %}
                                                            <a href="#"><img src="{{ (image.link ? : param('no_image')) | imagine_filter('medium') }}" alt="#"/></a>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="main-img-slider">
                                                <div class="main-img-slider__i">
                                                    {% if current_model.images is empty %}
                                                        <a href="#product-popup" class="popup_gallery"
                                                           data-src="{{ param('no_image') | imagine_filter('medium') }}">
                                                            <img src="{{ param('no_image') | imagine_filter('small') }}" alt="#"/>
                                                        </a>
                                                    {% else %}
                                                        {% for image in current_model.images %}
                                                            <a href="#product-popup-{{ current_model.id }}" class="popup_gallery"
                                                               data-src="{{ (image.link ? : param('no_image')) | imagine_filter('medium') }}">
                                                                <img src="{{ (image.link ? : param('no_image')) | imagine_filter('small') }}" alt="#"/>
                                                            </a>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <div class="product-info__i">
                                        {% if share.isActualSingleShare(current_model.share) %}
                                            <div class="product-info-share discount">
                                                <div class="product-info-share-title">
													{{ current_model.share.name }}
												    <a href="{{ path('category', {'category': 'all','share': current_model.share.id}) }}">
                                                        Подробнее об акции
                                                    </a>
												</div>                                                
                                                {{ include('AppBundle:share/counter.html.twig', {share: current_model.share}) }}
                                            </div>
                                        {% endif %}
                                        <h3 class="type">{{ product.baseCategory.name }}</h3>
                                        <h2 class="name">{{ current_model.products.name }}</h2>
                                        <div class="price price_new">
                                            <p class="js_product_price" data-model-id="{{ current_model.id }}">
                                                {{ widget('products.prices', current_model)|raw }}
                                            </p>
                                            {% for size in current_model.sizes %}
                                                <p class="js_product_price product-info-size-price" data-size-id="{{ size.id }}">
                                                    {{ widget('products.prices', size)|raw }}
                                                </p>
                                            {% endfor %}
                                        </div>
                                        {% if current_model.oldPrice != 0.00 %}
                                        <div class="price price_old">
                                            Старая цена: <s>{{ current_model.oldPrice|format_price }} грн.</s>
                                        </div>
                                        {% endif %}
                                        <div class="color-select">
                                            <div class="color-select__i">
                                                <p class="color-select-inf">Цвет {{ current_model.productColors.name }} (Артикул: {{ current_model.products.article }})</p>
                                                <div class="list">
                                                    <ul>
                                                        {% for key, model in models %}
                                                            <li class="{% if model.id == current_model.id %} active {% endif %}">
                                                                <a href="{{ url_to(product.baseCategory, model) }}">
                                                                    <img src="{{ (model.images is empty ? param('no_image') : model.images.0.link) | imagine_filter('mini') }}" alt="#"/>
                                                                </a>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!--color-select end-->
                                        {{ form_start(form, {'attr': {'novalidate': true, 'class': 'js_model_form'}}) }}
                                            <div class="product-options">
                                                <div class="product-options__i">
                                                    <ul>
                                                        <li>
                                                            {{ form_widget(form.size, {'attr': {'data-placeholder': 'Выберите размер', 'class': 'select js_cart_size'}}) }}
                                                        </li>
                                                        <li>
                                                            {{ form_widget(form.quantity, {'attr': {'data-placeholder': 'К-во', 'class': 'select'}}) }}
                                                        </li>
                                                        <li>
                                                            <a href="#size-table2" class="popup_js">Как снять размер?</a>
                                                        </li>
                                                    </ul>

                                                </div>
                                            </div>
                                            {% if current_model.products.quantity < current_model.endCount %}
                                            <div class="product-message">
                                                    <p>Этот товар скоро закончится</p>
                                            </div>
                                            {% endif %}
                                            <div class="buy-row">
                                                <div class="buy-row__i">
                                                    <div class="col">
                                                        <div class="not-added-part">
                                                            <a href="#" class="btn btn_blue btn_buy preorder_btn js_preorder_btn">
                                                                <span>
                                                                    {{ 'Pre-order'|trans }}
                                                                </span>
                                                            </a>
                                                            <a href="#" class="btn btn_blue btn_buy js_buy_btn">
                                                                <span>
                                                                    {{ 'Buy'|trans }}
                                                                </span>
                                                            </a>
                                                            {{ form_widget(form.submit, {'attr': {'class': 'fake-over-btn'}, 'label': current_model.preOrderFlag ? 'Pre-order' : 'Buy'}) }}
                                                        </div>
                                                        <div class="incart added-part">
                                                            <div class="incart__i">
                                                                <p>Товар добавлен</p>
                                                                <p><a href="{{ path('cart_show') }}">в корзину</a></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="product-share">
                                                            <script type="text/javascript" src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js" charset="utf-8"></script>
                                                            <script type="text/javascript" src="//yastatic.net/share2/share.js" charset="utf-8"></script>
                                                            <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,gplus" data-counter=""></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {{ form_end(form) }}
                                        <div class="fast-buy js_fast_buy">
                                            <div class="fast-buy__i">
                                                <h2>Быстрый заказ</h2>
                                                <p>Менеджер перезвонит Вам и уточнит детали</p>
                                                {{ form_start(quickForm) }}
                                                    <div class="row">
                                                        <div class="col">
                                                            {{ form_widget(quickForm.phone, {'attr': {'placeholder': 'Введите Ваш номер', 'class': 'phone-inp only-numbers'}}) }}
                                                        </div>
                                                        <div class="col">
                                                            {{ form_widget(quickForm.submit, {'attr': {'class': 'btn btn_black_transparent'}, 'label': 'ЗАКАЗАТЬ'}) }}
                                                        </div>
                                                    </div>
                                                {{ form_end(quickForm) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="side">
                            <div class="side__i">
                                <div class="buyer-info">
                                    <div class="buyer-info__i">
                                        <div class="item">
                                            <div class="item__i">
                                                <h2><i class="icon icon-delivery"></i>Доставка</h2>
                                                {{ options.params.delivery.value|raw }}
                                            </div>
                                        </div>
                                        <!--item end-->
                                        <div class="item">
                                            <div class="item__i">
                                                <h2><i class="icon icon-wallet"></i>Оплата</h2>
                                                {{ options.params.payment.value|raw }}
                                            </div>
                                        </div>
                                        <!--item end-->
                                        <div class="item">
                                            <div class="item__i">
                                                <h2><i class="icon icon-warranty"></i>Гарантия</h2>
                                                {{ options.params.guarantee.value|raw }}
                                            </div>
                                        </div>
                                        <!--item end-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-description">
                    <div class="product-description__i">
                        {% if current_model.products.content is not empty or current_model.products.characteristics
                        is not empty or current_model.products.features is not empty %}
                        <h1>{{ current_model.products.name }}</h1>
                        {% endif %}
                        <div class="row ctable">
                            {% if current_model.products.content is not empty %}
                            <div class="ctable-col">
                                <h2>О модели</h2>
                                {{ current_model.products.content|raw }}
                            </div>
                            {% endif %}
                            {% if current_model.products.characteristics is not empty %}
                            <div class="ctable-col">
                                <h2>Характеристики</h2>
                                {{ current_model.products.characteristics|raw }}
                            </div>
                            {% endif %}
                            {% if current_model.products.features is not empty %}
                            <div class="ctable-col">
                                <h2>Особенности</h2>
                                {{ current_model.products.features|raw }}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if share.isActualSingleShare(current_model.share) %}
                    <div class="share-text">
                        <div class="share-text__i">
                            <h2>Подробнее об акции</h2>
                            {{ current_model.share.terms|raw }}
                        </div>
                    </div>
                {% endif %}
                {{ widget('products.upsell', current_model)|raw }}
                {{ widget('products.recommended', current_model)|raw }}
                {{ widget('products.recentlyReviewed')|raw }}
            </div>
        </div>
    </section>
{% endblock %}

{% block popups %}
    {{ parent() }}

    {{ include('AppBundle:shop/product/items_popup_galleries.html.twig', { 'items': [current_model] }) }}

    {{ include('AppBundle:shop/partials/sizes_popup.html.twig') }}

    {{ include('AppBundle:shop/product/preorder_warning_popup.html.twig') }}
{% endblock %}

{% block bottom_assets %}
    {{ parent() }}
    <script>
        var userIsAuthenticated = {{ is_granted('IS_AUTHENTICATED_FULLY') ? 'true' : 'false' }};
    </script>
    {% javascripts '@AppBundle/Resources/public/js/product.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
