{# Display package and call self to display single size items #}

{% if item.packagesQuantity or currentSize is defined %}
    <div class="item js_cart_item" data-package="{{ currentSize is defined ? '1' : '0' }}" data-id="{{ item.skuProduct.id }}">
        <div class="item__i">
            {{ widget('products.flags', item.skuProduct.productModels)|raw }}

            <table>
                <tr>
                    <td>
                        <span>{{ item.skuProduct.sku }}</span>
                    </td>
                    <td>
                        <span class="img-wrap">
                            <a href="#product-popup-{{ item.skuProduct.productModels.id }}" class="img popup_gallery">
                                {% if item.skuProduct.productModels.productModelImages.0 is defined %}
                                    <img src="{{ item.skuProduct.productModels.productModelImages.0.link | imagine_filter('on_wholesale_cart_page') }}"/>
                                {% else %}
                                    <img src="{{ param('no_image') | imagine_filter('on_wholesale_cart_page') }}"/>
                                {% endif %}
                            </a>
                            {{ widget('products.wishButton', item.skuProduct.productModels)|raw }}
                        </span>
                    </td>
                    <td>
                        <strong>{{ item.skuProduct.productModels.name }}</strong>
                    </td>
                    <td>{{ item.skuProduct.productModels.productColors.name }}</td>
                    <td>{{ item.skuProduct.productModels.products.getCharacteristicValueByType('material') }}</td>
                    <td>
                        {% for size in item.skuProduct.productModels.sizes %}
                            {% if not currentSize is defined or size.id == currentSize %}
                                <p class="js_item_size" data-id="{{ size.id }}">{{ size.size }}/1</p>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <div class="amount-control">
                            <a href="#" class="minus"></a>
                            <input type="text" class="js_amounts_changer" data-min=1
                                   value="{{ currentSize is defined ? currentSizeAmount : item.packagesQuantity }}"/>
                            <a href="#" class="plus"></a>
                        </div>
                    </td>
                    <td>
                        <span class="js_item_price" data-price="{{ prices.getDiscountedPrice(item.skuProduct.productModels) }}">
                            {% if currentSize is defined %}
                                {{ item.getSingleSizeDiscountedPrice(currentSize)|format_price }}
                            {% else %}
                                {{ item.packagesDiscountedPrice|format_price }}
                            {% endif %}
                        </span> грн.
                    </td>
                    <td>
                        <a href="#" class="remove js_item_remove"></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% endif %}

{% if not currentSize is defined %}
    {% for sizeId, currentSizeAmount in item.singleItems %}
        {{ include('AppBundle:shop/cart/partials/wholesale_product.html.twig', {'currentSize': sizeId, 'currentSizeAmount': currentSizeAmount}) }}
    {% endfor %}
{% endif %}
