{# Display package and call self to display single size items #}

{% if item.packagesQuantity or currentSize is defined %}
    <div class="item js_cart_item" data-package="{{ currentSize is defined ? '1' : '0' }}"
         data-id="{{ currentSize is defined ? currentSize.size.id : item.productModel.id }}">
        <div class="item__i">
            {{ widget('products.flags', item.productModel)|raw }}

            <table>
                <tr>
                    <td>
                        <span>{{ item.productModel.products.article }}</span>
                    </td>
                    <td>
                        <span class="img-wrap">
                            <a href="#product-popup-{{ item.productModel.id }}" class="img popup_gallery">
                                {% if item.productModel.images.0 is defined %}
                                    <img src="{{ item.productModel.images.0.link | imagine_filter('on_wholesale_cart_page') }}"/>
                                {% else %}
                                    <img src="{{ param('no_image') | imagine_filter('on_wholesale_cart_page') }}"/>
                                {% endif %}
                            </a>
                            {{ widget('products.wishButton', item.productModel)|raw }}
                        </span>
                    </td>
                    <td>
                        <strong>{{ item.productModel.products.name }}</strong>
                    </td>
                    <td>{{ item.productModel.productColors.name }}</td>
                    <td>{{ item.productModel.products.getCharacteristicValueByType('material') }}</td>
                    <td>
                        {% for size in item.productModel.sizes %}
                            {% if not currentSize is defined or size.id == currentSize.size.id %}
                                <p class="js_item_size" data-id="{{ size.id }}">{{ size.size }}/1</p>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <div class="amount-control">
                            <a href="#" class="minus"></a>
                            <input type="text" class="js_amounts_changer" data-min=1
                                   value="{{ currentSize is defined ? currentSize.quantity : item.packagesQuantity }}"/>
                            <a href="#" class="plus"></a>
                        </div>
                    </td>
                    <td>
                        {% if currentSize is defined %}
                            <span class="js_item_price" data-price="{{ prices.getDiscountedPrice(currentSize.size) }}">
                                {{ currentSize.discountedPrice|format_price }}
                            </span>
                        {% else %}
                            <span class="js_item_price" data-price="{{ prices.getProductModelPackageDiscountedPrice(item.productModel) }}">
                                {{ item.packagesDiscountedPrice|format_price }}
                            </span>
                        {% endif %} грн.
                    </td>
                    <td>
                        <a href="#" class="remove js_item_remove"></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% endif %}

{% if not currentSize is defined %}
    {% for sizeId, size in item.singleItems %}
        {{ include('AppBundle:shop/cart/partials/wholesale_product.html.twig', {'currentSize': size}) }}
    {% endfor %}
{% endif %}
