{% for size in admin.subject.order.sizes %}
    <tr class="js-row-size" data-size-id="{{ size.id }}">
        <td class="control-group">
            <input type="checkbox" name="return_sizes[{{ size.id }}][return]" value="{{ size.id }}" {% if admin.getReturnSizeBySizeCount(size.id) > 0 %}checked{% endif %}>
        </td>
        <td class="control-group">{{ size.size.model.products.article }}</td>
        <td class="control-group">
            {% if size.size.model.images.0 is defined %}
                <a data-lightbox="size-{{ size.id }}" href="{{ size.size.model.images.0.link }}">
                    <img src="{{ size.size.model.images.0.link | imagine_filter('small') }}"/>
                </a>
            {% else %}
                <img src="{{ param('no_image') | imagine_filter('small') }}"/>
            {% endif %}
        </td>
        <td class="control-group">{{ size.size.model.products.name }}</td>
        <td class="control-group">{{ size.size.model.productColors.name }}</td>
        <td class="control-group">{{ size.size }}</td>
        <td class="control-group">
            <input type="text" class="js-return-count" name="return_sizes[{{ size.id }}][count]" value="{{ admin.getReturnSizeBySizeCount(size.id) }}">
        </td>
        <td class="control-group js-size-count">{{ size.quantity }}</td>
        <td class="control-group js-price">{{ size.totalPrice }}</td>
        <td class="control-group js-disc-price">{{ size.discountedTotalPrice }}</td>
    </tr>
{% endfor %}