<table class="table table-bordered">
    <thead>
    <tr>
        <th>Артикул</th>
        <th>Картинка</th>
        <th>Модель</th>
        <th>Цвет</th>
        <th>Размер</th>
        <th>Количество</th>
        <th>Доступно</th>
        <th>
            {% if admin.subject.preOrderFlag %}
                В заказ
            {% else %}
                В предзаказ
            {% endif %}
        </th>
        <th>Цена(за ед)</th>
        <th>Сумма розницы(всего)</th>
        <th>Сумма со скидкой</th>
        <th></th>
    </tr>
    </thead>
    <tbody class="sonata-ba-tbody">
        {% include 'AppAdminBundle:admin/orders/order_sizes_list.html.twig'%}
    </tbody>
    <tfoot>
    <tr>
        <td colspan="10" class="text-right">Сумма розницы всего</td>
        <th colspan="2" id="totalPrice">{{ admin.subject.totalPrice }}</th>
    </tr>
    <tr>
        <td colspan="10" class="text-right">Скидка по акции</td>
        <th colspan="2">{{ admin.subject.upSellDiscount }}</th>
    </tr>
    <tr>
        <td colspan="10" class="text-right">Скидка по программе лояльности</td>
        <th colspan="2">{{ admin.subject.loyalityDiscount }}</th>
    </tr>
    <tr>
        <td colspan="10" class="text-right">Сумма со скидкой</td>
        <th colspan="2" id="discountedTotalPrice">{{ admin.subject.loyaltyAndUpSellDiscounted }}</th>
    </tr>
    <tr>
        <td colspan="10" class="text-right">Оплачено бонусами</td>
        <th colspan="2">
            <input id="bonuses" type="number" value="{{ admin.subject.bonuses }}" name="bonuses"
                   class="table-input js_order_update" min="0" max="{{ admin.subject.maxBonuses }}"/>
        </th>
    </tr>
    <tr>
        <td colspan="10" class="text-right">Погасить</td>
        <th colspan="2">
            <input type="text" value="{{ admin.subject.individualDiscount }}"
                   name="individualDiscount" class="table-input js_order_update"/>
        </th>
    </tr>
    <tr>
        <td colspan="10" class="text-right">
            <input type="text" value="{{ admin.subject.additionalSolarDescription }}"
                   name="additionalSolarDescription" class="table-input text-right js_order_update"/>
        </td>
        <th colspan="10">
            <input type="text" value="{{ admin.subject.additionalSolar }}" name="additionalSolar"
                   class="table-input js_order_update"/>
        </th>
    </tr>
    <tr>
        <td colspan="10" class="text-right">К оплате</td>
        <th colspan="2" id="individualDiscountedTotalPrice">{{ admin.subject.individualDiscountedTotalPrice }}</th>
    </tr>
    </tfoot>
</table>
